<%if !session[:page].present?%>
	<ul class="breadcrumb">
		<%if params[:owner_type] == 'corporate'%>
			<li class="breadcrumb-item"><%=link_to "Applications",list_corpo_groups_teams_path(owner_type: params[:owner_type],scan_type: params[:scan_type])%></li>
			<%if session[:team_name].present?%>
				<li class="breadcrumb-item"><%=link_to  session[:team_name],repos_path(team_name: session[:team_name],owner_type: params[:owner_type],scan_type: params[:scan_type])%></li>
			<%end%>
		<%else%>
			<li class="breadcrumb-item"><%=link_to "Applications",list_apps_repos_path(owner_type: params[:owner_type],scan_type: params[:scan_type])%></li>
		<%end%>
		<li class="breadcrumb-item active"><%=@repo.name%></li>
	</ul>
<%else%>
	<ul class="breadcrumb">
		<li class="breadcrumb-item"><%=link_to "Scans",scaners_path(owner_type: params[:owner_type],scan_type: params[:scan_type])%></li>
		<li class="breadcrumb-item active"><%=@repo.name%></li>
	</ul>
<%end%>
