<%#=render 'layouts/team_list'%>
<div class="container">
	<ul class="breadcrumb">
		<li class="breadcrumb-item"><%=link_to "Applications",list_corpo_groups_teams_path(owner_type: params[:owner_type],scan_type: params[:scan_type])%></li>
		<li class="breadcrumb-item active"><%=session[:team_name]%></li>
	</ul>
	<div class='row bottom-buffer'>
		<!--<div class='col-md-4'>
			<b>Select Team: </b><%#= select :team, :ids, @teams.collect { |t| [t.name,t.name]},{:selected => @team.name},{:class=> "selectpicker",'data-live-search'=>"true",'data-size'=>"5"}%>
	</div>-->
	<div class='col-md-6'></div>
	<div class='col-md-2'>
		<%#= link_to "Export to CSV", export_findings_teams_path(format: "csv",team_id: @current_user_team.id),class: 'btn btn-primary csv_export', style: 'margin-left:15px;'%> 
		<%= link_to "Export to Excel", export_findings_teams_path(format: "xls",team_id: @team.id),class: 'btn btn-primary exl_export' ,style: 'margin-left:15px;'%>
	</div>
	</div>
	<div class='row'>
		<div class="panel panel-default">
			<div class="panel-heading"><h5><b><%=@team.name%>  Findings</b></h5></div>
			<div class="panel-body">
				<table class="table borderless table-striped" id="findings_table">
						<%=render "display_repos"%>  
				</table>
			</div>
		</div>
	</div>
</div>
<script>
$("#team_ids").change(function(){
	$.ajax({
		url: "/repos/get_team_repos",
		type: "GET",
		data: 'team_name='+ $("#team_ids").val() + "&scan_type=" + '<%=params[:scan_type]%>',
	})

});
</script>
