<div class="ts-main-content">
	<%=render "layouts/repo_results"%>
	<div class="content-wrapper">
		<div class="container-fluid">
			<div class="container">
				<%if !session[:page].present?%>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><%=link_to "Applications",list_corpo_groups_teams_path%></li>
						<%if params[:owner_type] == 'corporate'%>
							<li class="breadcrumb-item"><%=link_to  session[:team_name],repos_path(team_name: session[:team_name])%></li>
						<%end%> 
						<li class="breadcrumb-item active"><%=@repo.name%></li>
					</ul>   
				<%else%>        
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><%=link_to "Scans",scaners_path(owner_type: params[:owner_type],scan_type: params[:scan_type])%></li>
						<li class="breadcrumb-item active"><%=@repo.name%></li>
					</ul>                           
				<%end%>    
				<div class='row'>
					<div class='col-md-12'>
						<div class="panel panel-default each-panel panel-border">
							<div class="panel-heading"><h4>Channel Wise Vulnerabilities</h4></div>
							<div class="panel-body">
								<table class='table'>
									<thead>
										<tr>
											<th>Channel</th>
											<th>Total Vulns</th>
											<th>View</th>
											<th>Delete</th>
										</tr>
									</thead>
									<%create_date = "" %>
									<%is_first_tool= true %>
									<%iteration_count = 0 %>
									<%finding_count = @findings.try(:count) %>
									<%tool_hash = {} %>
									<tbody>
										<%if @findings.present?%>
											<%@findings.each do |each_find| %>
												<%iteration_count +=1 %> 
												<%if create_date != each_find.created_at.to_date %>
													<%create_date = each_find.created_at.to_date if is_first_tool %>
													<%is_date_changed = true unless is_first_tool %>
													<%if is_date_changed  %>
														<tr>
															<td><b><%=create_date%></b></td>  
														</tr>
														<%tool_hash.each do |key,value|%>
															<tr>
																<td><%=key%></td>
																<td><%=value%></td>
																<td><%=link_to("<i class='fa fa-eye text-info' aria-hidden='true'></i>".html_safe,repo_channel_results_repos_path(repo_id: @repo.id,channel: key,date: create_date.to_date,scan_type: params[:scan_type],owner_type: params[:owner_type]))%></td>
																<td><%=link_to("<i class='fa fa-times text-danger' aria-hidden='true'></i>".html_safe,delete_repo_channel_results_repos_path(repo_id: @repo.id,channel: key,date: create_date.to_date,scan_type: params[:scan_type],owner_type: params[:owner_type]),method: :DELETE)%></td>
															</tr>
														<%end%>
														<%create_date = each_find.created_at.to_date %>
														<%tool_hash = {} %>
													<%end%>
												<%else%>
													<%is_first_tool = false%>			
													<%tool_hash[each_find.scanner] = 1 unless tool_hash[each_find.scanner].present?%>
													<%tool_hash[each_find.scanner]+=1%>
													<%if iteration_count == finding_count %>
														<tr class="borderless">                                                                                            
															<td><b><%= each_find.created_at.to_date %></b></td>
															<td></td>
														</tr>
														<%tool_hash.each do |key,value|%>
															<tr>
																<td><%=key%></td>
																<td><%=value%></td>
																<td><%=link_to("<i class='fa fa-eye text-info' aria-hidden='true'></i>".html_safe,repo_channel_results_repos_path(repo_id: @repo.id,channel: key,date: create_date.to_date,scan_type: params[:scan_type],owner_type: params[:owner_type]))%></td>
																<td><%=link_to("<i class='fa fa-times text-danger' aria-hidden='true'></i>".html_safe,delete_repo_channel_results_repos_path(repo_id: @repo.id,channel: key,date: create_date.to_date,scan_type: params[:scan_type],owner_type: params[:owner_type]),method: :DELETE)%></td>
															</tr>
														<%end%>
													<%end%>
												<%end%>
											<%end%>
										<%end%>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class='col-md-2'></div>
				</div>
			</div>
		</div>  
	</div>
