<div class='container'>
	<ul class="breadcrumb">
		<li class="breadcrumb-item active"><%=link_to "Analytics", analytics_path%></li>
		<li class="breadcrumb-item active">Bug Wise Results</li>
	</ul> 
	<div class="panel panel-default each-panel panel-border">
		<div class="panel-heading"><h4><%=params[:description]%></h4>
		</div>
		<div class='panel-body'>
			<table class="table borderless table-striped" id="desc_wise_table">
				<thead>
					<tr>
						<th>Severity</th>
						<th>Issue Type</th>
						<th>Application Name</th>
						<th>View Finding</th>
					</tr>
				</thead>
				<tbody>
					<%@findings.each do |find|%>
						<tr>
							<td><span class='<%=find.severity.downcase%>-row badge finds-row'><%=find.severity%></span></td>
							<td><%=find.issue_type%></td>
							<td><%=find.repo.name%></td>
							<td><%=link_to('View Finding',details_findings_path(finding_id: find.id,scan_id: find.scaners.first.id,scan_type: @scan_type))%></td>

						</tr>
					<%end%>
				</tbody>
			</table>
		</div>
	</div>
</div>
<script>
$(document).ready(function(){
	$('#desc_wise_table').dataTable({               
		order: [],      
		columnDefs: [ {
			targets  : [3],
			orderable: false,
		}],  
		dom: 'BFlfrtip',
		buttons: [
		{
			extend:    'copyHtml5',
			text:      '<i class="fa fa-files-o"></i> Copy',
			titleAttr: 'Copy'
		},
		{
			extend:    'excelHtml5',
			text:      '<i class="fa fa-file-excel-o"></i> Excel',
			titleAttr: 'Excel'
		},
		{
			extend:    'csvHtml5',
			text:      '<i class="fa fa-file-text-o"></i> CSV',
			titleAttr: 'CSV'
		},
		{
			extend:    'pdfHtml5',
			text:      '<i class="fa fa-file-pdf-o"></i> PDF',
			titleAttr: 'PDF'
		}
		],
		sAjaxSource: $('#findings_table').data('source'),
		fnRowCallback: function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
			//$('td:eq(0)', nRow).addClass(aData[0].toLowerCase()+'-row').addClass('badge').addClass("finds-row");
		}
	});
});

</script>
