<%#=render "layouts/analytics"%>                       
<div class="container">
	<ul class="breadcrumb left-buffer right-buffer">
		<li class="breadcrumb-item">Analytics</li>
		<%unless current_user.is_admin?%>
			<li class="breadcrumb-item active"><%=params[:analytics_type]%> Analytics</li>
		<%end%>
	</ul>
	<div class='panel box-shadow left-buffer right-buffer'>
		<div class='panel-body'>
			<div class='col-md-1'></div>
			<div class='col-md-2 circles'>
				<div class='circle' id='container1'>           
					<strong></strong>
					<span> <%=@severity_hash["Critical"]%> <hr style="margin-top:0px;margin-bottom:1px;width:50px;"><%=link_to "Critical",apply_filter_filters_path(analytics_type: params[:analytics_type],severity: AppConstants::SeverityTypes::CRITICAL,filter_type: params[:analytics_type])%></span>
				</div>
			</div>
			<div class='col-md-2 circles'>
				<div class='circle' id='container2'>
					<strong></strong>
					<span><%=@severity_hash["High"]%> <hr style="margin-top:0px;margin-bottom:1px;width:50px;"><%=link_to "High",apply_filter_filters_path(analytics_type: params[:analytics_type],severity: AppConstants::SeverityTypes::HIGH,filter_type: params[:analytics_type])%></span>
				</div>
			</div>
			<div class='col-md-2 circles'>
				<div id="container3" class='circle'>
					<strong></strong>
					<span><%=@severity_hash["Medium"]%> <hr style="margin-top:0px;margin-bottom:1px;width:50px;"><%=link_to "Medium",apply_filter_filters_path(analytics_type: params[:analytics_type],severity: AppConstants::SeverityTypes::MEDIUM,filter_type: params[:analytics_type])%></span>
				</div>
			</div>
			<div class='col-md-2 circles'>
				<div id="container4" class='circle'>
					<strong></strong>
					<span><%=@severity_hash["Low"]%> <hr style="margin-top:0px;margin-bottom:1px;width:50px;"><%=link_to "Low",apply_filter_filters_path(analytics_type: params[:analytics_type],severity: AppConstants::SeverityTypes::LOW,filter_type: params[:analytics_type])%></span>
				</div>
			</div>
			<div class='col-md-2 circles'>
				<div id="container5" class='circle'>
					<strong></strong>
					<span><%=@severity_hash["Info"]%> <hr style="margin-top:0px;margin-bottom:1px;width:50px;"><%=link_to "Info",apply_filter_filters_path(analytics_type: params[:analytics_type],severity: AppConstants::SeverityTypes::INFO,filter_type: params[:analytics_type])%></span>
				</div>
			</div>
		</div>
	</div>
	<div class='panel box-shadow left-buffer right-buffer'>

		<div class='panel-body'>
			<div class='col-md-3'>
				<span class='text-danger' style='margin-left:35px;font-size:20;'> <%=@running_scans%></span><br>
				Running Scans
			</div>
			<div class='col-md-3'>
				<span class='text-danger' style='margin-left:50px;font-size:20;'> <%=@queued_scans%></span><br>
				Queued Scans 
			</div>
			<div class='col-md-3'>
				<span class='text-danger' style='margin-left:60px;font-size:20;'> <%=@conducted_scans%></span><br>
				Total Scans Conducted
			</div>
			<div class='col-md-3'>
				<span class='text-danger' style='margin-left:60px;font-size:20;'> <%=@new_findings%></span><br>
				New Vulnerabilities
			</div>
		</div>
	</div>
	<div class='row'>
		<div class='col-md-6'>
			<div class='panel box-shadow left-buffer'>
				<div class='panel-heading'><h4>Top Vulnerable Repos</h4></div>
				<div class='panel-body'>
					<table class='table'>
						<tbody>
							<%if @most_vul_repos.present?%>
								<%@most_vul_repos.each do |each_repo|%>
									<%repo = Repo.includes(:findings).find(each_repo.first)%>
									<%if params[:analytics_type] == AppConstants::OwnerTypes::CORPORATE%>
										<%critical = repo.findings.not_false_positive.by_sev(AppConstants::SeverityTypes::CRITICAL).by_corporate.count%>
										<%high = repo.findings.not_false_positive.by_sev(AppConstants::SeverityTypes::HIGH).by_corporate.count%>
									<%else%>
										<%critical = repo.findings.not_false_positive.by_sev(AppConstants::SeverityTypes::CRITICAL).by_user(current_user.id).count%>
										<%high = repo.findings.not_false_positive.by_sev(AppConstants::SeverityTypes::HIGH).by_user(current_user.id).count%>
									<%end%>
									<tr>
										<td>
											<%=link_to repo.name,repo_summary_repos_path(repo_id: each_repo.first,scan_type: repo.findings.first.scan_type,owner_type: params[:analytics_type])%>
										</td>
										<td>
											<span class='critical-row badge'><%=critical%></span>
										</td>
										<td>
											<span class='high-row badge'><%=high%></span>
										</td>
									</tr>
								<%end%>
							<%end%>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class='col-md-6'>
			<div class='panel box-shadow right-buffer'>
				<div class='panel-heading'><h4>Top Vulnerabilities</h4></div>
				<div class='panel-body'>
					<table class='table'>
						<tbody>
							<%if @top_vul.present?%>
								<%@top_vul.each do |vul|%>
									<tr>
										<td class='text-danger'>
											<%=link_to vul.first,get_desc_wise_analytics_path(description: vul.first)%>
										</td>
										<td>
											<span class='critical-row badge'><%=vul.last%></span>
										</td>
									</tr>
								<%end%>
							<%end%>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
$(function () {

	$('#container1').circleProgress({
		value: 1,
		size: 100,
		fill: {
			gradient: ["#e31e01", "#e31e90"]
		}
	}).on('circle-animation-progress', function(event, progress) {
		$(this).find('strong').html(<%=@critical_percentage.round(1)%> + '<i>%</i>');
	});
	$('#container2').circleProgress({
		value: 1,
		size: 100,
		fill: {
			gradient: ["#a94342", "#a94442"]
		}
	}).on('circle-animation-progress', function(event, progress) {
		$(this).find('strong').html(<%=@high_percentage.round(1)%> + '<i>%</i>');
	});;
	$('#container3').circleProgress({
		value: 1,
		size: 100,
		fill: {
			gradient: ["#f2b968", "#f2b968"]
		}
	}).on('circle-animation-progress', function(event, progress) {
		$(this).find('strong').html(<%=@medium_percentage.round(1)%> + '<i>%</i>');
	});;
	$('#container4').circleProgress({
		value: 1,
		size: 100,
		fill: {
			gradient: ["#73c9e3", "#73c9e3"]
		}
	}).on('circle-animation-progress', function(event, progress) {
		$(this).find('strong').html(<%=@low_percentage.round(1)%> + '<i>%</i>');
	});;
	$('#container5').circleProgress({
		value: 1,
		size: 100,
		fill: {
			gradient: ["#74c274", "#74c374"]
		}
	}).on('circle-animation-progress', function(event, progress) {
		$(this).find('strong').html(<%=@info_percentage.round(1)%> + '<i>%</i>');
	});
});
</script>

