<div class="ts-main-content">
	<%=render "layouts/dashboard"%>         
	<div class="content-wrapper">
		<%=render 'dashboard_template'%>
	</div>
</div>
<%=render 'dashboard_trend_chart'%>
<%=render 'dashboard_stack_chart'%>
<%=render 'dashboard_pie_chart'%>
<%=render 'dashboard_bubble_chart'%>
<script>

</script>
