<%= form_for(@user,:html=>{role: "form"}) do |f| %>
	<% if @user.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@user.errors.count, "error") %> prohibited this functionality from being saved:</h2>

			<ul>
				<% @user.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="form-group row">
		<div class='col-md-6'>
			<%= f.label :name,class: 'label-class' %><br>
			<%= f.text_field :name,autofocus: true,class: 'form-control' %>
		</div>
	</div>
	<%if current_user.is_admin?%>
		<div class="form-group row">
			<div class='col-md-6'>
				<%= f.label :team,class: 'label-class' %>
				<%= f.select :team_ids,Team.order(:name).collect { |t| [t.name,t.id]},{},{:class=> "selectpicker dropup show-tick show-menu-arrow form-control",'data-live-search'=>"true",'data-show-subtext'=> "true",'data-size'=>"5",'multiple'=>'multiple'} %>
			</div>
		</div>
		<div class="form-group row">
			<div class='col-md-6'>
					<%prompt = 'select role'%>
				<%=f.label :role,class: 'label-class'%>
				<%= f.select :role_ids, options_for_select(Role.all.order(:name).collect { |t| [t.name,t.id]}.unshift(prompt), selected: prompt, disabled: prompt),{},{:class=> "form-control",'data-live-search'=>"true",'data-show-subtext'=> "true",'data-size'=>"5"}%>
			</div>
		</div>

		<div class="form-group row">
			<div class='col-md-6'>
				<div class="checkbox checkbox-slider--b-flat">
					<label>
						<%=f.check_box :is_team_lead?,class: 'user-role' %><span class='label-class'>Is Team Lead?</span>
					</label>
				</div>                  
			</div>
			<div class='col-md-6'>
				<div class="checkbox checkbox-slider--b-flat">
					<label>
						<%=f.check_box :is_admin?,class: 'user-role' %><span class='label-class'>Is Admin?</span>
					</label>
				</div>                  
			</div>
		</div>
		<div class="form-group row">
			<div class='col-md-6'>
				<div class="checkbox checkbox-slider--b-flat">
					<label>
						<%=f.check_box :is_security_member?,class: 'user-role' %><span class='label-class'>Is Security Team?</span>
					</label>
				</div>                  
			</div>
		</div>
	<%else%>
		<!--<div class="form-group row">
	  <div class='col-md-6'>
	  <%#= f.label :assign_projects,class: 'label-class' %>
	  <%#= f.select :repo_ids,@projects.order(:name).collect { |t| [t.name,t.id]},{},{:class=> "selectpicker dropup show-tick show-menu-arrow form-control",'data-live-search'=>"true",'data-show-subtext'=> "true",'data-size'=>"5",'multiple'=>'multiple'}%>
	  </div>
	  </div>-->
  <%end%>
  <div class="form-group row">
	  <div class='col-md-6'>
		  <%= f.submit "Save" ,class: 'btn btn-success'%>
	  </div>
  </div>
<% end %>
<script>
$('input.user-role').on('change', function() {
	$("#user_role_ids").val('');
	$('input[type="checkbox"]').not(this).prop('checked', false);
}); 
$("#user_role_ids").on('change',function(){
        $('input[type="checkbox"]').prop('checked', false);
});
</script>
