<!-- Your Custom CSS here -->
<style type="text/css">
/* xs < 768 */
@media screen and (max-width: 767px) {
	body {
		font-size: 0.9em;
	}
}

				    /* sm */
				    @media screen and (min-width: 768px) {
					    body {
						    font-size: 1em;
					    }
				    }

				    /* md */
				    @media screen and (min-width: 992px) {
					    body {
						    font-size: 1.2em;
					    }
				    }

				    /* lg */
				    @media screen and (min-width: 1200px) {
					    body {
						    font-size: 1.3em;
					    }
				    }
				    .critical-row{
					    background-color: #e31e25 !important;
				    }
				    .high-row {
					    background-color: #a94442 !important;
				    }
				    .medium-row {
					    background-color: #f2b968 !important;
				    }
				    .low-row {
					    background-color: #73c9e3 !important;
				    }
				    .info-row {
					    background-color: #74c374 !important;
				    }
				    table {
					    border-collapse: collapse;
					    width: 100%;
				    }

				    th,td ,{
					    text-align: left;
					    padding: 8px;
				    }

				    .finding-details tr:nth-child(even){background-color: #D9E4E6}
				    th{
					    background-color: #167F92;
					    color: white;
				    }
				    .media-responsive-columns {
					    -webkit-column-count: 3; /* Chrome, Safari, Opera */
					    -moz-column-count: 3; /* Firefox */
					    column-count: 3;
				    }
				    .strong { font-weight: bold; }

				    @media (max-width: 797px) {
					    .media-responsive-columns {
						    -webkit-column-count: 2; /* Chrome, Safari, Opera */
						    -moz-column-count: 2; /* Firefox */
						    column-count: 2;
					    }
				    }

				    @media (max-width: 480px) {
					    .media-responsive-columns {
						    -webkit-column-count: 1; /* Chrome, Safari, Opera */
						    -moz-column-count: 1; /* Firefox */
						    column-count: 1;
					    }
				    }
</style>
<html>
	<div class="highlight">
		<head>
			<%= stylesheet_link_tag "emails" %>
			<span style="display:none !important;">Jackhammer Scan Report: <%=@repo_name.upcase%>  <%=Time.now%>. Please click &nbsp;<%=link_to('here',findings_url(scan_id: @scan.id))%>to view the report</span>
		</head>
		<body style="background-color: #ccc !important;">
			<p>Jackhammer Scan Report: <b><%=@repo_name.upcase%></b>  on <%=Time.now.to_formatted_s(:short)%>. just follow this link: &nbsp; <%=url_for(host: @host,port: @port,controller: 'findings',action: "index",scan_id: @scan.id)%> &nbsp;to view the report</p>
			<p class="media-responsive-columns"><b>Repo URL: &nbsp;&nbsp;<%=@scan.repo.present? ? @scan.repo.ssh_repo_url : @scan.project_target_file_name%></b></p>
			<div style="border: 1px solid #167F92 ;margin-top:20px;">
				<h4>Scan Summary</h4>
				<table class='table'>
					<thead>
						<th>Project</th>
						<th>Critical</th>
						<th>High</th>
						<th>Medium</th>
						<th>Info</th>
						<th>Low</th>
					</thead>
					<tbody>
						<tr>
							<td> <%=@repo_name.upcase%></td>
							<td><span class='critical-row badge finds-row'><%=@critical_c%></span></td>
							<td><span class='high-row badge finds-row'><%=@high_c%></span></td>
							<td><span class='medium-row badge finds-row'><%=@medium_c%></span></td>
							<td><span class='low-row badge finds-row'><%=@low_c%></span></td>
							<td><span class='info-row badge finds-row'><%=@info_c%></span></td>
						</tr> 
					</tbody>
				</table>
			</div>
			<%count = 0%>
			<div style="border: 1px solid #167F92 ;margin-top:20px;">
				<h4>Top Most Findings</h4>
				<table class='table table-striped'>
					<tr>
						<th>Sl.No</th>
						<th>Severity</th>
						<th>Bug Type</th>
						<th>Count</th>
					</tr>
					<tbody>
						<%if @critical_top_vul.present?%>
							<%@critical_top_vul.each do |find|%>
								<tr>
									<td><%=count=count+1%></td>
									<td><span class='critical-row badge finds-row'>Critical</span></td>
									<td><%=find[1]%></td>
									<td><span class='critical-row badge finds-row'><%=find[0]%></span></td>
								</tr>
							<%end%>
						<%end%>
						<%if @high_top_vul.present?%>
							<%@high_top_vul.each do |find|%>
								<%unless count >=5%>
									<tr>
										<td><%=count=count+1%></td>
										<td><span class='high-row badge finds-row'>High</span></td>
										<td><%=find[1]%></td>
										<td><span class='high-row badge finds-row'><%=find[0]%></span></td>
									</tr>
								<%end%>		
							<%end%>
						<%end%>
						<%if @medium_top_vul.present?%>
							<%@medium_top_vul.each do |find|%>
								<%unless count >=5%>
									<tr>
										<td><%=count=count+1%></td>
										<td><span class='medium-row badge finds-row'>Critical</span></td>
										<td><%=find[1]%></td>
										<td><span class='medium-row badge finds-row'><%=find[0]%></span></td>
									</tr>
								<%end%>			
							<%end%>
						<%end%>
						<%if @low_top_vul.present?%>
							<%@low_top_vul.each do |find|%>
								<%unless count >=5%>
									<tr>
										<td><%=count=count+1%></td>
										<td><span class='low-row badge finds-row'>Low</span></td>
										<td><%=find[1]%></td>
										<td><span class='low-row badge finds-row'><%=find[0]%></span></td>
									</tr>
								<%end%>
							<%end%>
						<%end%>
						<%if @info_top_vul.present?%>
							<%@info_top_vul.each do |find|%>
								<%unless count >=5%>
									<tr>
										<td><%=count=count+1%></td>
										<td><span class='info-row badge finds-row'>Info</span></td>
										<td><%=find[1]%></td>
										<td><span class='info-row badge finds-row'><%=find[0]%></span></td>
									</tr>
								<%end%>
							<%end%>		
						<%end%>
					</tbody>
				</table>
			</div>
			<%count = 0%>
			<%if @scan_instances.count > 1%>
				<div style="border: 1px solid #167F92 ;margin-top:20px;">
					<h4>Top New Findings</h4>
					<table class='table table-striped'>
						<tr>
							<th>Sl.No</th>
							<th>Severity</th>
							<th>Bug Type</th>
							<th>Count</th>
						</tr>
						<tbody>
							<%if @latest_critical_top_vul.present?%>
								<%@latest_critical_top_vul.each do |find|%>
									<tr>
										<td><%=count=count+1%></td>
										<td><span class='critical-row badge finds-row'>Critical</span></td>
										<td><%=find[0]%></td>
										<td><span class='critical-row badge finds-row'><%=find[1]%></span></td>
									</tr>
								<%end%>
							<%end%>
							<%if @latest_high_top_vul.present?%>
								<%@latest_high_top_vul.each do |find|%>
									<%unless count >=5%>
										<tr>
											<td><%=count=count+1%></td>
											<td><span class='high-row badge finds-row'>High</span></td>
											<td><%=find[1]%></td>
											<td><span class='high-row badge finds-row'><%=find[0]%></span></td>
										</tr>
									<%end%>
								<%end%>
							<%end%>
							<%if @latest_medium_top_vul.present?%>
								<%@latest_medium_top_vul.each do |find|%>
									<%unless count >=5%>
										<tr>
											<td><%=count=count+1%></td>
											<td><span class='medium-row badge finds-row'>Critical</span></td>
											<td><%=find[1]%></td>
											<td><span class='medium-row badge finds-row'><%=find[0]%></span></td>
										</tr>
									<%end%>
								<%end%>
							<%end%>
							<%if @latest_low_top_vul.present?%>
								<%@latest_low_top_vul.each do |find|%>
									<%unless count >=5%>
										<tr>
											<td><%=count=count+1%></td>
											<td><span class='low-row badge finds-row'>Low</span></td>
											<td><%=find[1]%></td>
											<td><span class='low-row badge finds-row'><%=find[0]%></span></td>
										</tr>
									<%end%>
								<%end%>
							<%end%>
							<%if @latest_info_top_vul.present?%>
								<%@latest_info_top_vul.each do |find|%>
									<%unless count >=5%>
										<tr>
											<td><%=count=count+1%></td>
											<td><span class='info-row badge finds-row'>Info</span></td>
											<td><%=find[1]%></td>
											<td><span class='info-row badge finds-row'><%=find[0]%></span></td>
										</tr>
									<%end%>
								<%end%>
							<%end%>
						</tbody>
					</table>
				</div>

			<%end%>
		</body>
	</div>
</html>
