<%get_alert%>
<%count = 0%>
<%@user_notifications.each do |notification|%>
	<%if notification.scaner_id.present?%>
		<li>
			<a href="#">
				<div>
					<strong><span class=" label label-<%=notification.alert_type%>"><%=ERB::Util.h(notification.task_name).html_safe%></span></strong>
				</div>
				<div style="margin-top: 5px;">
					<%=link_to notification.message ,findings_path(scan_id: notification.scaner_id)%>
				</div>
				<span class="pull-right text-muted small" style="margin-bottom: 5px;"><%=time_ago_in_words(notification.created_at) + "  ago"%></span>
			</a>
		</li>
	<%else%>
		<li>
			<a href="#">
				<div>
					<strong><span class=" label label-<%=notification.alert_type%>"><%=ERB::Util.h(notification.task_name).html_safe%></span></strong>
				</div>
				<div style="margin-top: 5px;">
					<%=notification.message%>
				</div>
				<span class="pull-right text-muted small" style="margin-bottom: 5px;"><%=time_ago_in_words(notification.created_at) + "  ago"%></span>
			</a>
		</li>
	<%end%>
	<%count+=1%>
	<%if @notification_count > 1 && count != @notification_count%>
		<li class="divider" style="margin-top: 2px;"></li>
	<%end%>
<%end%>
<script>
function update_notifications(element)
{
	$.ajax({
		url: "/alert_notifications/update_alerts",
		type: "POST"
	})
}
</script>
