<nav class="ts-sidebar analytics-menu">
	<ul class="nav analytics">
		<li class="time">
			<h1 class="animated">21:00</h1>
			<p class="animated">Sat,October 1st 2029</p>
		</li>
		<li><hr class='left-navbar-divider'></li>
		<li class='left-buffer'><b>Filters</b></li>
		<li><hr class='left-navbar-divider'></li>
		<li class="animated"><a href="#tags" data-toggle="collapse" data-parent="#MainMenu"><i class="glyphicon glyphicon-tag"></i>Tags <i class="glyphicon glyphicon-chevron-down"></i></a></li>
		<div  id="tags"  class="collapse">
			<ul class='nav'>
				<li class='left-buffer' style='margin-top: 1px;'>
					<%= select :tag, :ids, @tags.collect { |t| [t.name,t.id]},{},{'multiple'=>true,class: 'drop-box'}%>
				</li>
			</ul>
		</div>
		<li class="animated"><a href="#teams" data-toggle="collapse" data-parent="#MainMenu"><i class="fa fa-users"></i>Teams  <i class="glyphicon glyphicon-chevron-down"></i></a></li>
		<div  id="teams"  class="collapse">
			<ul class='nav'>
				<li class='left-buffer' style='margin-top: 1px;'>
					<%= select :team, :ids, @teams.collect { |t| [t.name,t.id]},{},{'multiple'=>true,class: 'drop-box'}%>
				</li>
			</ul>
		</div>
		<!--<li class="animated"><a href="#aging" data-toggle="collapse" data-parent="#MainMenu"><i class="glyphicon glyphicon-time"></i>Aging  <i class="fa fa-caret-down"></i></a></li>-->
		<div  id="aging"  class="collapse">
			<ul class='nav'>
				<li class='left-buffer' style='margin-top: 1px;'>
			</ul>
		</div>
		<li class="animated"><a href="#scanners" data-toggle="collapse" data-parent="#MainMenu"><i class="fa fa-wrench"></i>Scanners <i class="glyphicon glyphicon-chevron-down"></i></a></li>
		<div  id="scanners"  class="collapse">
			<ul class='nav'>
				<li class='left-buffer' style='margin-top: 1px;'>
					<%= select :scan, :name, @tools.collect { |t| [t.name,t.name]},{},{'multiple'=>true,class: 'drop-box'}%></li>
			</ul>                   
		</div>
		<li class="animated"><a href="#date_range" data-toggle="collapse" data-parent="#MainMenu" ><i class="glyphicon glyphicon-calendar"></i>Date Range  <i class="glyphicon glyphicon-chevron-down"></i></a></li>
		<div class="form-group collapse left-buffer" id="date_range" >
			<div class='input-group date' id='datetimepicker1'>
				<label> From Date</label>
				<%=text_field :from,:date,class: "form-control"%>
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-calendar"></span>
				</span>
			</div>
			<div class='input-group date' id='datetimepicker2'>
				<label> To Date</label>
				<%=text_field :to,:date,class: "form-control"%>
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-calendar"></span>
				</span>
			</div>
		</div>
		<li class="animated"><a href="#applications" data-toggle="collapse" data-parent="#MainMenu"><i class='fa fa-tasks' aria-hidden='true'></i>Applications  <i class="glyphicon glyphicon-chevron-down"></i></a></li>
		<div  id="applications"  class="collapse">
			<ul class='nav'>                                
				<li class='left-buffer' style='margin-top: 1px;'><%= select :app, :ids,@repos.collect { |t| [t.name,t.id]},{},{"multiple": true,class: 'drop-box'}%></li>
			</ul>                                                   
		</div> 
		<li class="animated"><a href="#severity" data-toggle="collapse" data-parent="#MainMenu"><i class='glyphicon glyphicon-alert' aria-hidden='true'></i>Severity Levels <i class="glyphicon glyphicon-chevron-down"></i></a></li>
		<div  id="severity"  class="collapse">
			<ul>
				<li class="list-group-item "> 
					<div class="checkbox checkbox-slider--b-flat">
						<label>
							<%=check_box :critical,:severity%><span >Critical</span>
						</label>
					</div>
				</li>
				<li class="list-group-item "> 
					<div class="checkbox checkbox-slider--b-flat">
						<label>                                                                                                                      
							<%=check_box :high,:severity%><span >High</span>
						</label>
					</div>           
				</li>
				<li class="list-group-item "> 
					<div class="checkbox checkbox-slider--b-flat checkbox-slider--small">
						<label>                                                                                                                      
							<%=check_box :medium,:severity%><span >Medium</span>
						</label>
					</div>           
				</li>
				<li class="list-group-item ">
					<div class="checkbox checkbox-slider--b-flat">                                    
						<label>                                                                                                                                 
							<%=check_box :low,:severity%><span >Low</span>
						</label>
					</div>                                                                                                                                                                                              </li>
					<li class="list-group-item "> 
						<div class="checkbox checkbox-slider--b-flat">                                    
							<label>                                                                                                                                 
								<%=check_box :info,:severity%><span >Info</span>
							</label>
						</div>          
					</li>
			</ul>
		</div>
		<li class="animated"><a href="#save_filter" data-toggle="collapse" data-parent="#MainMenu"><i class='fa fa-floppy-o' aria-hidden='true'></i>Save Current Filters <i class="glyphicon glyphicon-chevron-down"></i></a></li>
		<div  id="save_filter"  class="collapse left-buffer">
			<div class='form-group' style='margin-top: 1px;'>
				<%=text_field :current,:filter,placeholder: 'Enter Filter Name'%>
			</div>
			<div class='form-group' style='margin-top: 1px;margin-bottom: 20px;'>
				<%=submit_tag "Save Filter",class: 'btn btn-primary',onclick: 'return save_current_filter();'%>
			</div>
		</div>
		<li class="animated"><a href="#saved_filter" data-toggle="collapse" data-parent="#MainMenu"><i class='fa fa-floppy-o' aria-hidden='true'></i>Saved Filters <i class="glyphicon glyphicon-chevron-down"></i></a></li>
		<div  id="saved_filter"  class="collapse left-buffer">
			<div class='form-group' style='margin-top: 1px;margin-right:40px;'>
				<%= select :saved, :filters, @filters.collect { |f| [f.filter_name,f.filter_values]},{prompt: 'Select Filter'},{class: 'drop-box form-control'}%>
			</div>
		</div>
	</ul>
</nav>
<script>
$('#app_ids,#team_ids,#scan_name,#tag_ids').multiselect({                            
	includeSelectAllOption: true,                          
	enableHTML: false,                                     
	maxHeight: 200,                                        
	buttonWidth: '100%',                                   
	enableFiltering: true,                                 
});
$(function () {
	$('#datetimepicker1').datetimepicker({format: 'DD-MM-YYYY'});
	$('#datetimepicker2').datetimepicker({format: 'DD-MM-YYYY'});
});
</script>
