<div id="sidebar-wrapper">
	<nav class="navbar navbar-default sidebar fill" role="navigation">
		<%unless Setting.application_mode == AppConstants::UserMode::SINGLE_USER%>
			<div class="list-group panel sidebar fill">
				<a href="#corporate_scans" class="list-group-item list-group-item-info" data-toggle="collapse" data-parent="#MainMenu">Corporate Apps<i class="fa fa-caret-down pull-right"></i></a>
				<div id="corporate_scans">
					<%=link_to "Source Code",list_corpo_groups_teams_path(owner_type: AppConstants::OwnerTypes::CORPORATE,scan_type: AppConstants::ScanTypes::STATIC),class: "list-group-item",id: "corporatestatic"%>
					<%=link_to "Web",list_corpo_groups_teams_path(owner_type: AppConstants::OwnerTypes::CORPORATE,scan_type: AppConstants::ScanTypes::WEB),class: "list-group-item",id: "corporateweb"%>
					<%=link_to "Wordpress",list_corpo_groups_teams_path(owner_type: AppConstants::OwnerTypes::CORPORATE,scan_type: AppConstants::ScanTypes::WORDPRESS),class: "list-group-item",id: "corporatewordpress"%>
					<%=link_to "Mobile",list_corpo_groups_teams_path(owner_type: AppConstants::OwnerTypes::CORPORATE,scan_type: AppConstants::ScanTypes::MOBILE),class: "list-group-item",id: "corporatemobile"%>
					<%=link_to "Network",list_corpo_groups_teams_path(owner_type: AppConstants::OwnerTypes::CORPORATE,scan_type: AppConstants::ScanTypes::NETWORK),class: "list-group-item",id: "corporatenetwork"%>
				</div>
			</div>
		<%end%>
		<%unless current_user.is_admin?%>
			<div class="list-group panel sidebar fill">
				<a href="#my_scans" class="list-group-item list-group-item-info" data-toggle="collapse" data-parent="#MainMenu">Personal Apps <i class="fa fa-caret-down pull-right"></i></a>
				<div id="my_scans">
					<%=link_to "Source Code",list_apps_repos_path(scan_type: AppConstants::ScanTypes::STATIC),class: "list-group-item",id: "static"%>
					<%=link_to "Web",list_apps_repos_path(scan_type: AppConstants::ScanTypes::WEB),class: "list-group-item",id: "web"%>
					<%=link_to "Wordpress",list_apps_repos_path(scan_type: AppConstants::ScanTypes::WORDPRESS),class: "list-group-item",id: "wordpress"%>
					<%=link_to "Mobile",list_apps_repos_path(scan_type: AppConstants::ScanTypes::MOBILE),class: "list-group-item",id: "mobile"%>
					<%=link_to "Network",list_apps_repos_path(scan_type: AppConstants::ScanTypes::NETWORK),class: "list-group-item",id: "network"%>
					<%#=link_to "Hardcode Secret Token",list_apps_repos_path(scan_type: AppConstants::ScanTypes::HARDCODE),class: "list-group-item",id: "secrettoken"%>
				</div>
			</div>
		<%end%>
	</nav>
</div>
<script>
$(document).ready(function(){
	var scan_type = '<%= params[:is_scheduled].present? ? "scheduled" : params[:scan_type]%>';
	var owner_type= '<%=params[:owner_type]%>';
	$("#" + owner_type.toLowerCase() + scan_type.toLowerCase()).addClass("active");
});
</script>
