<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-header">
		<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
			<i class="icon-reorder"></i>
		</button>
		<a class="navbar-brand" href="<%=root_path%>">
			Jackhammer
		</a>
	</div>
	<nav class="collapse navbar-collapse">
		<ul class="nav navbar-nav navbar-left nav-pills1">
		</ul>
		<ul class="nav navbar-nav navbar-right nav-pills1">
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#" onclick="update_notifications(this)">
					Notifications <span class="badge badge-danger notification-text"> <%=notifications_count = current_user.alert_notifications.where(read: false).count%></span> 
				</a>
				<%if notifications_count > 0%>
					<ul class="dropdown-menu dropdown-alerts">
						<%=render 'layouts/alert_notifications'%>
					</ul>
				<%end%>
				<!-- /.dropdown-alerts -->
			</li>
			<!-- /.dropdown -->
			<%if !current_user.is_admin? && Setting.application_mode != AppConstants::UserMode::SINGLE_USER%>
				<li class="dropdown <%=current_class?('/dashboards')%>">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<strong>DASHBOARD</strong>
						<span class="glyphicon glyphicon-chevron-down"></span>
					</a>
					<ul class="dropdown-menu">
						<li><%= link_to "Corporate Dashbaord".html_safe, display_dashboards_path(dashboard_type: AppConstants::OwnerTypes::CORPORATE,scan_type: AppConstants::ScanTypes::STATIC)%></li>
						<li><%=link_to "Team Dashboard".html_safe,display_dashboards_path(dashboard_type: AppConstants::OwnerTypes::TEAM,scan_type: AppConstants::ScanTypes::STATIC) unless current_user.is_security_member?%></li>
						<li><%=link_to "Personal Dashboard".html_safe,display_dashboards_path(dashboard_type: AppConstants::OwnerTypes::PERSONAL,scan_type: AppConstants::ScanTypes::STATIC)%></li>
					</ul>
				</li>
			<%else%>
				<%if Setting.application_mode == AppConstants::UserMode::SINGLE_USER %>
					<li class="<%=current_class?('/dashboards')%>"><%= link_to "Dashboard".html_safe, display_dashboards_path(dashboard_type: AppConstants::OwnerTypes::PERSONAL,scan_type: AppConstants::ScanTypes::STATIC)%></li>
				<%else%>
					<li class="<%=current_class?('/dashboards')%>"><%= link_to "Dashboard".html_safe, display_dashboards_path(dashboard_type: AppConstants::OwnerTypes::CORPORATE,scan_type: AppConstants::ScanTypes::STATIC)%></li>
				<%end%>
			<%end%>
			<%if Setting.application_mode == AppConstants::UserMode::SINGLE_USER%>
				<li class="<%=current_class?(@applications_path)%>"><%=link_to 'Applications',list_apps_repos_path(scan_type: AppConstants::ScanTypes::STATIC),method: :get%></li>
			<%else%>
				 <li class="<%=current_class?(@applications_path)%>"><%=link_to 'Applications',list_corpo_groups_teams_path(owner_type: AppConstants::OwnerTypes::CORPORATE,scan_type: AppConstants::ScanTypes::STATIC),method: :get%></li>
			<%end%>
			<%if !current_user.is_admin? && Setting.application_mode != AppConstants::UserMode::SINGLE_USER%>
				<li class="dropdown <%=current_class?('/analytics')%>">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<strong>Analytics</strong>
						<span class="glyphicon glyphicon-chevron-down"></span> 
					</a>
					<ul class="dropdown-menu">
						<li><%=link_to "Corporate Analytics".html_safe,analytics_path(analytics_type: AppConstants::OwnerTypes::CORPORATE)%></li>
						<li><%= link_to "Personal Analytics".html_safe, analytics_path(analytics_type: AppConstants::OwnerTypes::PERSONAL)%></li>
					</ul>
				</li>
			<%else%>
				<%if Setting.application_mode == AppConstants::UserMode::SINGLE_USER %>
					<li class="<%=current_class?('/analytics')%>"><%=link_to 'Analytics',analytics_path(analytics_type: AppConstants::OwnerTypes::PERSONAL)%></li>
				<%else%>
					<li class="<%=current_class?('/analytics')%>"><%=link_to 'Analytics',analytics_path(analytics_type: AppConstants::OwnerTypes::CORPORATE)%></li>
				<%end%>
			<%end%>
			<li class="<%=current_class?('/upload_scans/new')%>"><%=link_to 'ADD TARGET',add_target_scaners_path,method: :get%></li>
			<%if current_user.is_admin? || current_user.is_team_lead? || current_user.is_security_member?%>
				<li> <%=link_to 'Upload Scan',new_upload_scan_path,method: :get%></li>
			 <%end%>
			<li class="<%=current_class?(@active_nav_class)%>"> <%=link_to "Scans",scaners_path(owner_type: get_owner_type,scan_type: AppConstants::ScanTypes::STATIC)%></li>
			<%if !current_user.is_admin? && Setting.application_mode != AppConstants::UserMode::SINGLE_USER %>
				<li class="<%=current_class?('/filters/apply_filter')%> dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<strong>Filters</strong>
						<span class="glyphicon glyphicon-chevron-down"></span>
					</a>
					<ul class="dropdown-menu">
						<li><%=link_to "Corporate Filters",apply_filter_filters_path(filter_type: AppConstants::OwnerTypes::CORPORATE)%></li>
						<li><%=link_to "Personal Filters".html_safe,apply_filter_filters_path(filter_type: AppConstants::OwnerTypes::PERSONAL)%></li>
					</ul>
				</li>
			<%else%>
				<%if Setting.application_mode == AppConstants::UserMode::SINGLE_USER %>
					<li class="<%=current_class?('/filters/apply_filter')%>  dropdown"><%=link_to "Filters",apply_filter_filters_path(filter_type: AppConstants::OwnerTypes::PERSONAL)%></li>
				<%else%>
					<li class="<%=current_class?('/filters/apply_filter')%>  dropdown"><%=link_to "Filters",apply_filter_filters_path(filter_type: AppConstants::OwnerTypes::CORPORATE)%></li>
				<%end%>
			<%end%>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<span class="glyphicon glyphicon-user"></span>
					<strong><%=current_user.name.present? ? current_user.name : current_user.email%></strong>
					<span class="glyphicon glyphicon-chevron-down"></span>
				</a>
				<ul class="dropdown-menu">
					<li><%=link_to "<span class='glyphicon glyphicon-user icon-size pull-right'></span> Profile".html_safe,edit_user_registration_path %></li>
					<li><%=link_to "<span class='fa fa-book pull-right'></span>User Guide".html_safe,"https://jch.olacabs.com/userguide",target: '_blank'%></li>
					<%if current_user.is_admin? || Setting.application_mode == AppConstants::UserMode::SINGLE_USER%>
						<li><%=link_to "#{bootstrap_icon('glyphicon-cog')} Settings".html_safe,scan_types_path%></li>
					<%else%>
						<li><%=link_to "#{bootstrap_icon('glyphicon-cog')} Settings".html_safe,severity_settings_path%></li>
					<%end%>
					<%if can_manage_roles?%>
						<li><%=link_to "#{font_awesome_icon('fa-users ')} Roles/Users".html_safe,users_path %></li>
					<%end%>
					<li class="divider navbar-login-session-bg"></li>
					<li><%= link_to "#{bootstrap_icon('glyphicon-log-out')} Sign Out".html_safe, destroy_user_session_path, method: :delete%></li>
				</ul>
			</li>
		</ul>
	</nav>
</div>
