<div id="sidebar-wrapper">
	<nav class="navbar navbar-default sidebar fill" role="navigation">
		<ul class="nav navbar-nav ">
			<li>
				<h2 class="animated" style="margin-left:10px;">Repo Results</h2>
			</li>
			<li class="<%=current_class?('/repos/repo_summary')%>"><%=link_to "Vulnerability Trending #{sidebar_icons('fa-line-chart')}".html_safe,repo_summary_repos_path(repo_id: params[:repo_id],scan_type: params[:scan_type],owner_type: params[:owner_type])%></li>
			<%if current_user.is_admin? || current_user.is_security_member? || Setting.application_mode == AppConstants::UserMode::SINGLE_USER%>
				<li class="<%=current_class?(@repo_tools_results_active_path)%>"><%=link_to "Tools Result #{sidebar_icons('fa fa-wrench')}".html_safe,repo_tool_wise_findings_repos_path(repo_id: params[:repo_id],scan_type: params[:scan_type],owner_type: params[:owner_type])%></li> 
			<%end%>
			<li class="dropdown open <%=@sev_active_class_not_false%>">
				<a href="#severity" data-toggle="collapse">Repo Findings <i class="fa fa-caret-down"></i><%=sidebar_icons('fa fa-tasks').html_safe%></a>
				<div id="severity">
					<ul class="nav" role="menu">
						<%=link_to repo_results_icons('fa-exclamation-triangle','Critical'),repo_severity_wise_findings_repos_path(repo_id: params[:repo_id],severity: 'Critical',scan_type: params[:scan_type],owner_type: params[:owner_type]),class: "list-group-item"%>
						<%=link_to repo_results_icons('fa-level-up','High'),repo_severity_wise_findings_repos_path(repo_id: params[:repo_id],severity: 'High',scan_type: params[:scan_type],owner_type: params[:owner_type]),class: "list-group-item"%>
						<%=link_to repo_results_icons('fa-arrows-h','Medium'),repo_severity_wise_findings_repos_path(repo_id: params[:repo_id],severity: 'Medium',scan_type: params[:scan_type],owner_type: params[:owner_type]),class: "list-group-item"%>
						<%=link_to repo_results_icons('fa-level-down','Low'),repo_severity_wise_findings_repos_path(repo_id: params[:repo_id],severity: 'Low',scan_type: params[:scan_type],owner_type: params[:owner_type]),class: "list-group-item"%>
						<%=link_to repo_results_icons('fa-info-circle','Info'),repo_severity_wise_findings_repos_path(repo_id: params[:repo_id],severity: 'Info',scan_type: params[:scan_type],owner_type: params[:owner_type]),class: "list-group-item"%>
					</ul>
				</div>
			</li>
			<%#if current_user.is_admin? || current_user.is_security_member?%>
				<li class="dropdown <%=@sev_active_class_with_false%>">
					<a href="#false_severity" data-toggle="collapse">False Positive Findings <i class="fa fa-caret-down"></i><%=sidebar_icons('fa fa-tasks').html_safe%></a>
					<div id="false_severity" class='collapse'>
						<ul class="nav" role="menu">
							<%=link_to repo_results_icons('fa-exclamation-triangle','Critical',false),repo_severity_wise_findings_repos_path(repo_id: params[:repo_id],severity: 'Critical',scan_type: params[:scan_type],owner_type: params[:owner_type],false_finds: true),class: "list-group-item"%>
							<%=link_to repo_results_icons('fa-level-up','High',false),repo_severity_wise_findings_repos_path(repo_id: params[:repo_id],severity: 'High',scan_type: params[:scan_type],owner_type: params[:owner_type],false_finds: true),class: "list-group-item"%>
							<%=link_to repo_results_icons('fa-arrows-h','Medium',false),repo_severity_wise_findings_repos_path(repo_id: params[:repo_id],severity: 'Medium',scan_type: params[:scan_type],owner_type: params[:owner_type],false_finds: true),class: "list-group-item"%>
							<%=link_to repo_results_icons('fa-level-down','Low',false),repo_severity_wise_findings_repos_path(repo_id: params[:repo_id],severity: 'Low',scan_type: params[:scan_type],owner_type: params[:owner_type],false_finds: true),class: "list-group-item"%>
							<%=link_to repo_results_icons('fa-info-circle','Info',false),repo_severity_wise_findings_repos_path(repo_id: params[:repo_id],severity: 'Info',scan_type: params[:scan_type],owner_type: params[:owner_type],false_finds: true),class: "list-group-item"%>
						</ul>
					</div>
				</li>
			<%#end%>
		</ul>
	</nav>
</div>
