<div id="sidebar-wrapper">
	<nav class="navbar navbar-default sidebar fill" role="navigation">
		<%if current_user.is_admin? || current_user.is_security_member?%>
			<div class="list-group panel sidebar fill">
				<a href="#corporate_scans" class="list-group-item list-group-item-info" data-toggle="collapse" data-parent="#MainMenu">Corporate Scans <i class="fa fa-caret-down pull-right"></i></a>
				<div id="corporate_scans">
					<%=link_to "Source Code Scans",scaners_path(owner_type: AppConstants::OwnerTypes::CORPORATE,scan_type: AppConstants::ScanTypes::STATIC),class: "list-group-item",id: "corporatestatic"%>
					<%=link_to "Hardcode Secret Scans",scaners_path(owner_type: AppConstants::OwnerTypes::CORPORATE,scan_type: AppConstants::ScanTypes::HARDCODE),class: "list-group-item",id: "corporatesecrettoken"%>
					<%=link_to "Web Scans",scaners_path(owner_type: AppConstants::OwnerTypes::CORPORATE,scan_type: AppConstants::ScanTypes::WEB),class: "list-group-item",id: "corporateweb"%>
					<%=link_to "Wordpress Scans",scaners_path(owner_type: AppConstants::OwnerTypes::CORPORATE,scan_type: AppConstants::ScanTypes::WORDPRESS),class: "list-group-item",id: "corporatewordpress"%>
					<%=link_to "Mobile Scans",scaners_path(owner_type: AppConstants::OwnerTypes::CORPORATE,scan_type: AppConstants::ScanTypes::MOBILE),class: "list-group-item",id: "corporatemobile"%>
					<%=link_to "Network Scans",scaners_path(owner_type: AppConstants::OwnerTypes::CORPORATE,scan_type: AppConstants::ScanTypes::NETWORK),class: "list-group-item",id: "corporatenetwork"%>
					<%=link_to "Uploaded Scans",scaners_path(owner_type: AppConstants::OwnerTypes::CORPORATE,scan_type: AppConstants::ScanTypes::UPLOADED),class: "list-group-item ",id: "corporateuploaded"%>
					<%=link_to "Scheduled Scans",scaners_path(owner_type: AppConstants::OwnerTypes::CORPORATE,is_scheduled: true),class: "list-group-item",id: "corporatescheduled"%>
				</div>
			</div>
		<%end%>
		<%if current_user.is_team_lead?%>
			<div class="list-group panel sidebar fill">
				<a href="#team_scans" class="list-group-item list-group-item-info" data-toggle="collapse" data-parent="#MainMenu">Team Scans <i class="fa fa-caret-down pull-right"></i></a>
				<div id="team_scans">
					<%=link_to "Source Code Scans",scaners_path(owner_type: AppConstants::OwnerTypes::TEAM,scan_type: AppConstants::ScanTypes::STATIC),class: "list-group-item",id: "teamstatic"%>
					<%=link_to "Hardcode Secret Scans",scaners_path(owner_type: AppConstants::OwnerTypes::TEAM,scan_type: AppConstants::ScanTypes::HARDCODE),class: "list-group-item",id: "teamsecrettoken"%>
					<%=link_to "Web Scans",scaners_path(owner_type: AppConstants::OwnerTypes::TEAM,scan_type: AppConstants::ScanTypes::WEB),class: "list-group-item",id: "teamweb"%>
					<%=link_to "Wordpress Scans",scaners_path(owner_type: AppConstants::OwnerTypes::TEAM,scan_type: AppConstants::ScanTypes::WORDPRESS),class: "list-group-item",id: "teamwordpress"%>
					<%=link_to "Mobile Scans",scaners_path(owner_type: AppConstants::OwnerTypes::TEAM,scan_type: AppConstants::ScanTypes::MOBILE),class: "list-group-item",id: "teammobile"%>
					<%=link_to "Network Scans",scaners_path(owner_type: AppConstants::OwnerTypes::TEAM,scan_type: AppConstants::ScanTypes::NETWORK),class: "list-group-item",id: "teamnetwork"%>
					<%=link_to "Uploaded Scans",scaners_path(owner_type: AppConstants::OwnerTypes::TEAM,scan_type: AppConstants::ScanTypes::UPLOADED),class: "list-group-item",id: "teamuploaded"%>
					<%=link_to "Scheduled Scans",scaners_path(owner_type: AppConstants::OwnerTypes::TEAM,is_scheduled: true),class: "list-group-item",id: "teamscheduled"%>
				</div>
			</div>
		<%end%>
		<%unless current_user.is_admin?%>
			<div class="list-group panel sidebar fill">
				<a href="#my_scans" class="list-group-item list-group-item-info" data-toggle="collapse" data-parent="#MainMenu">Personal Scans <i class="fa fa-caret-down pull-right"></i></a>
				<div id="my_scans">
					<%=link_to "Source Code Scans",scaners_path(owner_type: AppConstants::OwnerTypes::PERSONAL,scan_type: AppConstants::ScanTypes::STATIC),class: "list-group-item",id: "personalstatic"%>
					<%=link_to "Hardcode Secret Scans",scaners_path(owner_type: AppConstants::OwnerTypes::PERSONAL,scan_type: AppConstants::ScanTypes::HARDCODE),class: "list-group-item",id: "personalsecrettoken"%>
					<%=link_to "Web Scans",scaners_path(owner_type: AppConstants::OwnerTypes::PERSONAL,scan_type: AppConstants::ScanTypes::WEB),class: "list-group-item",id: "personalweb"%>
					<%=link_to "Wordpress Scans",scaners_path(owner_type: AppConstants::OwnerTypes::PERSONAL,scan_type: AppConstants::ScanTypes::WORDPRESS),class: "list-group-item",id: "personalwordpress"%>
					<%=link_to "Mobile Scans",scaners_path(owner_type: AppConstants::OwnerTypes::PERSONAL,scan_type: AppConstants::ScanTypes::MOBILE),class: "list-group-item",id: "personalmobile"%>
					<%=link_to "Network Scans",scaners_path(owner_type: AppConstants::OwnerTypes::PERSONAL,scan_type: AppConstants::ScanTypes::NETWORK),class: "list-group-item",id: "personalnetwork"%>
					<%=link_to "Scheduled Scans",scaners_path(owner_type: AppConstants::OwnerTypes::PERSONAL,is_scheduled: true),class: "list-group-item",id: "personalscheduled"%>
				</div>
			</div>
		<%end%>
	</nav>
</div>
<script>
$(document).ready(function(){
	var scan_type = '<%= params[:is_scheduled].present? ? "scheduled" : params[:scan_type]%>';
	var owner_type= '<%=params[:owner_type]%>';
	$("#" + owner_type.toLowerCase() + scan_type.toLowerCase()).addClass("active");
});
</script>
