<%@tags.each do |comment|%>
	<div class="comment jumptarget" id="comment-<%= comment.id %>">
		<p>
		<% if comment.user == current_user %>
			<span class="label">You:</span>
		<% else %>
			<span class="label"><%=comment.user.name%><span>
				<% end %>
		</p>

		<blockquote>
			<%=sanitize(m comment.message.html_safe).html_safe %>
			<b>Tags:</b><%comment.tags.each do |t|%>
			<span class='tag label label-info'><%=t.name.to_s %></span>
		<%end%>
		<small><em><%= l comment.created_at %></em></small>
		</blockquote>
	</div>

<%end%>

