<div class="ts-main-content">
	<%=render "layouts/applications"%>
	<div class="content-wrapper">
		<div class="container">
			<ul class="breadcrumb">
				<li class="breadcrumb-item">Applications</li>
				<%unless current_user.is_admin?%>
					<li class="breadcrumb-item"><%=params[:owner_type]%>  Apps</li>
				<%end%>
				<li class="breadcrumb-item active"><%=params[:scan_type]%></li>
			</ul>           
			<div class="panel panel-default">

				<div class="panel-heading"><h5><b><%=params[:scan_type]%> Applications</b></h5></div>
				<div class="panel-body">
					<table id="team_table" class="table table-hover">

						<thead class="thead-inverse">
							<tr>
								<th>Name</th>
								<th>Repos</th>
								<th>Total</th>
								<th>Critical</th>
								<th>High</th>
								<th>Medium</th>
								<th>Low</th>
								<th>Info</th>
							</tr>
						</thead>

						<tbody>
							<%@team_names_with_sev_hash.each do |team_name,sev_hash|%>
								<tr>
									<td><%=ERB::Util.h(link_to team_name,repos_path(team_name: team_name,scan_type: params[:scan_type],owner_type: params[:owner_type]))%></td>
									<td><%=sev_hash["repos"]%></td>
									<td><%=sev_hash["Total"]%></td>
									<td><%=sev_hash["Critical"]%></td>
									<td><%=sev_hash["High"]%></td>
									<td><%=sev_hash["Medium"]%></td>
									<td><%=sev_hash["Low"]%></td>
									<td><%=sev_hash["Info"]%></td>
								</tr>
							<%end%>
						</tbody>
					</table>
				</div>

			</div>
		</div>
	</div>
</div>
<script>
$(document).ready(function(){
	$('[data-toggle="tooltip"]').tooltip();
	$('#team_table').dataTable({
		processing: true,
		columnDefs: [
		{
			targets: [ 1 ],
			visible: false,
		}
		],
	}); 
});
</script>
