<div class="ts-main-content">   
	<%=render "layouts/user_settings"%>
	<div class="content-wrapper">
		<div class="container">
			<div id="settings_message"></div>
			<div class='row'>
				<div class='col-md-10'>
					<div class="panel panel-default">
						<div class="panel-heading"><h4>Add New Tool</h4></div>
						<div class="panel-body">
							<%= form_for(:new_task,method: 'POST',url: save_new_tool_settings_path ) do |f| %>
								<div class='row'>
									<div class='form-group col-md-4'>
										<%=f.label :tool_name%>
										<%=f.text_field :name,class: 'form-control'%>
									</div>
								</div>
								<div class='row'>
									<div class='form-group col-md-4'>
										<%=f.label :supported_language%>
										<%=f.select :group ,[["Ruby","Ruby"],["Java","Java"],["Javascript","Javascript"]],{prompt: 'Select Language'},{class: "form-control"}%>
									</div>
								</div>	
								<div class='row'>
									<div class='form-group col-md-4'>
										<%=f.label :category%>
										<%= f.select :scan_type, ScanType.all.map { |type| [type.name,type.id] },{},{class: "form-control",onchange: "enable_file_field();"}%>
									</div>
								</div>
								<div class='row'>
									<div class='form-group col-md-4'>

										<%= f.submit class: 'btn btn-primary'%>
									</div>
								</div>
							<% end %>

							<%= link_to 'Back', scan_types_path %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
