<div class="ts-main-content">
	<%=render "layouts/user_settings"%>
	<div class="content-wrapper">
		<div class="continer">
			<div id="settings_message"></div>
		</div>

		<div class='container'>
			<ul class="breadcrumb">                                                                                                                         
				<li class="breadcrumb-item active"><%= link_to "User Settings",scan_types_path%></li>
				<li class="breadcrumb-item">Email Notifications</li>
			</ul>
			<div class='row'>
				<div class='col-md-12'>
					<div class="panel panel-default">
						<div class="panel-heading">Email Notifications</div>
						<div class="panel-body">
							<%= form_for(:notifications, url:update_mail_info_settings_path ,:html=>{role: "form"}) do |f| %>
								<div class='row'>
									<div class='col-md-3'>
										<strong>Severity</strong>
									</div>
									<div class='col-md-3'>
										<strong> Count > </strong>
									</div>
									<div class='col-md-3'>
										<strong> Email </strong>
									</div>
								</div>
								<div class='row top-buffer'>
									<div class='col-md-3'>                                                
										Critical
									</div>
									<div class='col-md-2'>
										<%=f.number_field :critical_count,class: 'form-control',min: 0, value: @notification.present? ? @notification.critical_count: nil%>
									</div>
									<div class='col-md-6'>
										<%=f.text_field :critical_email,class: 'form-control',value: @notification.present? ? @notification.critical_email: nil%>
									</div>
									<a href="#" data-toggle="popover" data-trigger="hover" width="500px;" font-size="8px;" data-content="Mail ids separted with comma(',')">
										<i class='glyphicon glyphicon-info-sign text-info'></i>
									</a>	

								</div>
								<div class='row top-buffer'>
									<div class='col-md-3'>                                                
										High
									</div>
									<div class='col-md-2'>
										<%=f.number_field :high_count,class: 'form-control',min: 0,value: @notification.present? ? @notification.high_count: nil %>
									</div>
									<div class='col-md-6'>
										<%=f.text_field :high_email,class: 'form-control',value: @notification.present? ? @notification.high_email: nil%>
									</div> 
								</div>
								<div class='row top-buffer'>
									<div class='col-md-3'>                                                
										Medium
									</div>
									<div class='col-md-2'>
										<%=f.number_field :medium_count,class: 'form-control',min: 0 ,value: @notification.present? ? @notification.medium_count: nil%>
									</div>
									<div class='col-md-6'>
										<%=f.text_field :medium_email,class: 'form-control',value: @notification.present? ? @notification.medium_email: nil%>
									</div> 
								</div>
								<div class='row top-buffer'>
									<div class='col-md-3'>                                                
										Low
									</div>
									<div class='col-md-2'>
										<%=f.number_field :low_count,class: 'form-control',min: 0,value: @notification.present? ? @notification.low_count: nil %>
									</div>
									<div class='col-md-6'>
										<%=f.text_field :low_email,class: 'form-control',value: @notification.present? ? @notification.low_email: nil%>
									</div> 
								</div>
								<div class='row top-buffer'>
									<div class='col-md-3'>                                                
										Info
									</div>
									<div class='col-md-2'>
										<%=f.number_field :info_count,class: 'form-control',min: 0 ,value: @notification.present? ? @notification.info_count: nil%>
									</div>
									<div class='col-md-6'>
										<%=f.text_field :info_email,class: 'form-control',value: @notification.present? ? @notification.info_email: nil%>
									</div> 
								</div>
								<div class='row top-buffer'>
									<div class='col-md-3'>
									</div>
									<div class='col-md-3'>
										<%=f.submit "Update",class: "btn btn-primary "%>
									</div>
								</div>
							<%end%>
						</div>
					</div>

				</div>
			</div>
			<h4> <b>Note: </b> we will send you alerts if ever in any project count will be more than configured severity count</h4>
		</div>
	</div>
</div>
<script>
$("input[type=number]").keypress(function(event) {
	if (!event.charCode) return true;          
	ch = String.fromCharCode(event.charCode);
	return (/[\d]/.test(ch));
});
</script>
