<div class="ts-main-content">
	<%=render "layouts/user_settings"%>
	<div class="content-wrapper">
		<div class="continer">
			<div id="settings_message"></div>
		</div>

		<div class='container'>
			<div class="row">
				<ul class="breadcrumb">
					<li class="breadcrumb-item active"><%= link_to "User Settings",scan_types_path%></li>
					<li class="breadcrumb-item">Checkmarx Configuration</li>
				</ul>   
			</div> 
			<div class='row'>
				<div class='col-md-8'> 
					<div class="panel panel-default">
						<div class="panel-heading"><h4>Checkmarx Configuration</h4></div>
						<div class="panel-body">
							<div class='row'>
								<div class='col-md-12'>
									<%= form_for(:pipe_line, url: update_check_mark_details_settings_path ,:html=>{role: "form"}) do |f| %>
										<div class="form-group">                                               
											<%=f.label :server%>
											<%= f.text_field :checkmarx_server, autofocus: true,requred: true,class: "input-setting form-control floating-label",value:  @check_marx_server%>
										</div>          
										<div class="form-group " >
											<%=f.label :user_name%>
											<%= f.text_field :checkmarx_user, autofocus: true,requred: true,class: "input-setting form-control floating-label",value: @check_mark_user%>
										</div>                                          
										<div class="form-group " >
											<%=f.label :password%>
											<%= f.password_field :checkmarx_password, autofocus: true,requred: true, class: "input-setting form-control floating-label",value: @check_marx_password %>
										</div>                                                                  
										<div class="form-group" >                                                           
											<%= f.submit "Save",class: 'btn btn-danger'%>                                        
										</div>                
								</div>
							</div>
						<%end%>                                                                 
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
