<div class="ts-main-content">
	<%=render "layouts/user_settings"%>
	<div class="content-wrapper">
		<div class="continer">
			<div id="settings_message"></div>
		</div>

		<div class='container'>
			<div class="jumbotron jumbo-background">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#tools">Tools</a></li>
					<li><a data-toggle="tab" href="#severity">Severity</a></li>
				</ul>
				<%=form_for :task,method: "PUT",url: settings_path,remote: true do |f|%>
					<div class="tab-content top-buffer">
						<div id="tools" class="tab-pane fade in active">
							<div class='row'>
								<div class='col-md-6'>
									<div class="panel panel-info">
										<div class="panel-heading"><h4>Ruby</h4></div>
										<div class="panel-body">
											<div class='row'>
												<div class='col-md-6'>
													<div class="checkbox checkbox-slider--b-flat checkbox-slider-md ">
														<label>
															<%=f.check_box :Brakeman,checked: @tasks.include?("Brakeman")%><span class='label-class'>Brakeman</span>
														</label>
													</div>
												</div>
												<div class='col-md-6'>
													<div class="checkbox checkbox-slider--b-flat checkbox-slider-md">
														<label>
															<%=f.check_box :Dawnscanner,checked: @tasks.include?("Dawnscanner")%><span class='label-class'>Dawn Scanner</span>
														</label>
													</div>
												</div>
											</div>
											<div class='row'>
												<div class='col-md-6'>
													<div class="checkbox checkbox-slider--b-flat checkbox-slider-md">
														<label>
															<%=f.check_box :BundleAudit,checked: @tasks.include?("BundleAudit")%><span class='label-class'>Bundle Audit</span>
														</label>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class='col-md-6'>
									<div class="panel panel-info">
										<div class="panel-heading"><h4>Javascript</h4></div>
										<div class="panel-body">
											<div class='row'>
												<div class='col-md-6'>
													<div class="checkbox checkbox-slider--b-flat checkbox-slider-md">
														<label>
															<%=f.check_box :NPM,checked: @tasks.include?("NPM")%><span class='label-class'>Npm</span>
														</label>
													</div>
												</div>
												<div class='col-md-6'>
													<div class="checkbox checkbox-slider--b-flat checkbox-slider-md">
														<label>
															<%=f.check_box :RetireJS,checked: @tasks.include?("RetireJS")%><span class='label-class'>Retire Js</span>
														</label>
													</div>
												</div>
											</div>
											<div class='row'>
												<div class='col-md-6'>
													<div class="checkbox checkbox-slider--b-flat checkbox-slider-md">
														<label>
															<%=f.check_box :NodeSecurityProject,checked: @tasks.include?("NodeSecurityProject")%><span class='label-class'>Node Security project</span>
														</label>
													</div>
												</div>
												<div class='col-md-6'>
													<div class="checkbox checkbox-slider--b-flat checkbox-slider-md">
														<label>
															<%=f.check_box :Synk,checked: @tasks.include?("Synk")%><span class='label-class'>Synk</span>
														</label>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class='row'>
								<div class='col-md-6'>
									<div class="panel panel-info">
										<div class="panel-heading"><h4>Java</h4></div>
										<div class="panel-body">       
											<div class='row'>
												<div class='col-md-6'>
													<div class="checkbox checkbox-slider--b-flat checkbox-slider-md">
														<label>
															<%=f.check_box :PMD,checked: @tasks.include?("PMD")%><span class='label-class'>Pmd</span>
														</label>
													</div>
												</div>
												<div class='col-md-6'>
													<div class="checkbox checkbox-slider--b-flat checkbox-slider-md">
														<label>
															<%=f.check_box :FindSecurityBugs,checked: @tasks.include?("FindSecurityBugs")%><span class='label-class'>Find sec bugs</span>
														</label>
													</div>
												</div>
											</div>                                                                  
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="severity" class="tab-pane fade">
							<div class='row'>
								<div class='col-md-6'>
									<div class="panel panel-info">
										<div class="panel-heading"><h4>Severity </h4></div>
										<div class="panel-body">
											<div class='row'>
												<div class='col-md-6'>
													<div class="checkbox checkbox-slider--b-flat checkbox-slider-md">
														<label>
															<%=f.check_box :critical,checked: @tasks.include?("critical")%><span class='label-class'>Critical</span>
														</label>
													</div>
												</div>
												<div class='col-md-6'>
													<div class="checkbox checkbox-slider--b-flat checkbox-slider-md">
														<label>
															<%=f.check_box :high,checked: @tasks.include?("high")%><span class='label-class'>High</span>
														</label>
													</div>
												</div>
											</div>
											<div class='row'>
												<div class='col-md-6'>
													<div class="checkbox checkbox-slider--b-flat checkbox-slider-md">
														<label>
															<%=f.check_box :medium,checked: @tasks.include?("medium")%><span class='label-class'>Medium</span>
														</label>
													</div>
												</div>
												<div class='col-md-6'>
													<div class="checkbox checkbox-slider--b-flat checkbox-slider-md">
														<label>
															<%=f.check_box :low,checked: @tasks.include?("low")%><span class='label-class'>Low</span>
														</label>
													</div>
												</div>
											</div>

											<div class='row'>
												<div class='col-md-6'>
													<div class="checkbox checkbox-slider--b-flat checkbox-slider-md">
														<label>
															<%=f.check_box :info,checked: @tasks.include?("info")%><span class='label-class'>Info</span>
														</label>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<%=f.submit "Save",class: 'btn btn-danger' %>
				<%end%>
			</div>
		</div>
	</div>
</div>
