<div class='row'>
	<div class='col-md-11'>
		<div class='panel panel-default'>
			<div class='panel-heading'> <h4 class="panel-title">Vulnerability Status</h4>
				<span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
			</div>
			<div class='panel-body'>
				<div class='row top-buffer'>
					<div class='col-md-4'>Current Status:<span class='badge status' style="background-color:<%=finding_status_color(@finding)%>"><%=@finding.status%></span></div>
					<div class='col-md-4'>Change Status: 
						<%if @is_change_status_present%>
							<%= select :status,:type, options_for_select([["Open", "Open"],["Close", "Close"],["Fix in progress", "Fix in progress"],['Deferred','Deferred']]),{prompt: 'Select Status'},{class: "status-control",onchange: "change_status(#{@finding.id});"}%>
						<%else%>
							<%= select :status,:type, options_for_select([["Open", "Open"],["Close", "Close"],["Fix in progress", "Fix in progress"],['Deferred','Deferred']]),{prompt: 'Select Status'},{class: "status-control",onchange: "change_status(#{@finding.id});",disabled: 'disabled'}%>
						<%end%>
					</div>
					<div class='col-md-4'>Closed By: <%=@finding.closed_by%></div>
				</div>
				<div class='row top-buffer'>
					<div class='col-md-4'>
						<%if @finding.is_false_positive || @is_false_positive_present == false%>
							<td><%=button_tag(type: "submit",id: "false_positive_button", class: "btn btn-danger btn-sm mark-buttons",'disabled': 'disabled',:onclick => "change_positive_type(#{@finding.id});") do%>
								<i class="glyphicon glyphicon-ok"></i> Mark False Positive
							<%end%>
							</td>
						<%else%>
							<td><%=button_tag(type: "submit", id: "false_positive_button",class: "btn btn-danger btn-sm mark-buttons",:onclick => "change_positive_type(#{@finding.id});") do%>
								<i class="glyphicon glyphicon-ok"></i> Mark False Positive
							<%end%>
							</td>
						<%end%>

					</div>
					<div class='col-md-4'>
						<%if @finding.not_exploitable || @is_false_positive_present == false%>
							<td><%=button_tag(type: "submit",id: "false_positive_button", class: "btn btn-danger btn-sm mark-buttons",'disabled': 'disabled',:onclick => "change_positive_type(#{@finding.id});") do%>
								<i class="glyphicon glyphicon-ok"></i> Mark Not Explotiable
							<%end%>
							</td>
						<%else%>
							<td><%=button_tag(type: "submit", id: "false_positive_button",class: "btn btn-danger btn-sm mark-buttons",:onclick => "change_to_not_exploitable(#{@finding.id})" ) do%>
								<i class="glyphicon glyphicon-ok"></i> Mark Not Exploitable
							<%end%>
							</td>
						<%end%>
					</div>
					<div class='col-md-4' id="publish_jira_section">
						<%if @finding.is_publish_to_jira.present?%>
							Jira ID: <%=link_to @finding.jira_key,Setting["jira"]["host"] + "/browse/" + @finding.jira_key,target: '_blank'%>
					<%else%>
						<%if @is_false_positive_present%>
							<%=button_tag(type: "submit", class: "btn btn-danger btn-sm mark-buttons",:onclick => "publish_to_jira(#{@finding.id});") do%>
								<%= image_tag('iconJIRA16.jpg') %> Publish to Jira
							<%end%>  
						<%else%>
							<%=button_tag(type: "submit", class: "btn btn-danger btn-sm mark-buttons",'disabled': 'disabled',:onclick => "publish_to_jira(#{@finding.id});") do%>
								<%= image_tag('iconJIRA16.jpg') %> Publish to Jira
							<%end%> 
						<%end%>
					<%end%>
					</div>
				</div>
			</div>
		</div>
	</div>
