<div class="ts-main-content">
	<div class='row display-flash' id="flash_message">
	</div>
	<%=render "layouts/finding_side_bar"%>
	<div class="content-wrapper">
		<div class='row'>
			<div class='col-md-11'>
				<%=render "breadcrumb"%>
			</div>  
		</div> 

		<section id='status_section'>
			<%=render "status"%>
		</section>
		<section id='spinner_section'>
		</section>
		<section id='details_section'>
			<%=render "details"%>
		</section>
		<%if @is_comments_present%>
			<section id="comments_section">
				<%=render "comments"%>
			</section> 
		<%end%>
		<%if @is_tagging_present%>
			<section id="tags_section">
				<%=render "tags"%>
			</section>
		<%end%>
		<%if @is_upload_files_present %>
			<section id="uploads_section">
				<%=render "uploads"%>
			</section>
		<%end%>
		<!--<section id="tags_section">
	  <%#=render "tags"%>
	  </section>-->	
	</div>
</div>
<script type="text/javascript">
$(".fill > li > a").click(function(event) {
	//event.preventDefault();
}) 
</script>
