<div class="spinner_section"></div>
<%=form_for :marked,url: change_find_status_scaners_path,method: 'POST' ,remote: true ,:html=>{id: "severity_results" } do |f|%>
	<div align='center' style="margin-bottom: -42px">
		<%=f.hidden_field :findings%>
		<%=f.hidden_field :table_id%>
		<%if params[:false_finds].present? %>
			<%=f.submit "Mark Valid",class: 'btn btn-success btn-sm  mark-buttons',disabled: true,id: "false_btn"%>
		<%else%>
			<%=f.submit "Mark False Positive",class: 'btn btn-danger btn-sm mark-buttons',disabled: true,id: "false_btn"%>
		<%end%>
		<%unless params[:false_finds].present?%>
			<%=f.submit "Mark Not Exploitable",class: 'btn btn-danger btn-sm mark-buttons',disabled: true,id: "exploitable_btn"%>
		<%end%>
	</div>
<%end%> 
