<div class="ts-main-content">                           
	<%#=render "layouts/dynamic_scanners_list"%>       
	<Div class='container'>
		<ul class="breadcrumb">
			<li class="breadcrumb-item"><%= link_to "Add Target",add_target_scaners_path,method: :get %></li>
			<li class="breadcrumb-item"><%=params[:owner_type]%></li>
			<li class="breadcrumb-item active"><%=params[:scan_type]%></li>
		</ul>
		<h2 class='scan_title'>Add Scan Target </h2>
		<div class="jumbotron jumbo-background">
			<div class="panel-heading">
				<ul class="nav nav-tabs">
					<%if params[:owner_type] == AppConstants::OwnerTypes::PERSONAL%>
						<li class="active"><a data-toggle="tab" href="#my_project">Personal Scan</a></li>
					<%end%> 
					<%if params[:owner_type] == AppConstants::OwnerTypes::TEAM%>
						<li class="active"><a data-toggle="tab" href="#team_project">Team Scan</a></li>
					<%end%>         
					<%if (current_user.is_admin? || current_user.is_security_member?) && params[:owner_type] != AppConstants::OwnerTypes::PERSONAL%>
						<li class="<%=get_corporate_class%>"><a data-toggle="tab" href="#corporate_project">Corporate Scan</a></li>
					<%end%>                         
				</ul>                           
			</div>        
			<%=form_for(Scaner.new,:url=>scaners_path,:method=>"post",:html=>{class: 'form-horizontal',role: "form"}) do |f| %>
				<%= f.hidden_field :source,value: params[:scan_type] == AppConstants::ScanTypes::WORDPRESS ? 'Wp' : 'Dynamic'%>
				<%= f.hidden_field :owner_type,value: params[:owner_type]%>
				<%= f.hidden_field :scan_type,value: params[:scan_type]%>
				<%if params[:owner_type]!=AppConstants::OwnerTypes::PERSONAL%>
					<div class="form-group top-buffer">
						<div class='col-md-6'>
							<%= f.label :team,class: 'label-class' %>
							<%= f.select :team_id, options_for_select(@user_teams.collect { |t| [t.name,t.id]},Team.where(name: params[:scan_type]).try(:first).try(:id)),{prompt: "Select Team"},{class: "form-control"}%>
						</div>
					</div>
				<%end%>
				<div class="form-group ">
					<div class='col-md-6 top-buffer'>
						<%= f.label :project,class: 'label-class' %>
						<%= f.text_field :project_title, autofocus: true,required: 'required', class: "form-control",placeholder: 'Project Title'%>
					</div>
				</div>
				<%if params[:scan_type] == AppConstants::ScanTypes::MOBILE%>
					<div class="form-group ">
						<div class='col-md-6 top-buffer'>
							<%= f.label :upload_apk,class: 'label-class' %>
							<%= f.file_field :project_target,autofocus: true,required: 'required',class: "btn btn-success col-md-12",placeholder: 'Upload Apk' %>
						</div>
					</div>
				<%else%>
					<div class="form-group ">
						<div class='col-md-6'>
							<%= f.label :target,class: 'label-class' %>
							<%= f.text_field :target,class: 'form-control',placeholder: 'Target'%>
						</div>
					</div>
				<%end%>
				<%if params[:scan_type] == AppConstants::ScanTypes::NETWORK%>
					<div class="form-group top-buffer">
						<div class='col-md-6'>
							<%= f.label :parameters,class: 'label-class' %>
							<%= f.select :parameters, options_for_select(AppConstants::NmapParameters::NMAP_OPTIONS),{prompt: "More options"},{class: "form-control",placeholder: 'More Options'}%>
						</div>
					</div>
				<%end%>
				<%if params[:scan_type] != AppConstants::ScanTypes::MOBILE%>
					<div class="form-group ">
						<div class='col-md-6'>
							<%= f.label :periodic_schedule,class: 'label-class' %>
							<%= f.select :periodic_schedule, options_for_select(AppConstants::ScheduledTypes::PERIODIC_TYPES),{prompt: "Select Periodic Time"},{class: "form-control",onchange: "enable_file_field();"}%>
						</div>
					</div>
				<%end%>
				<%if params[:scan_type] == AppConstants::ScanTypes::WEB%>
					<input type="checkbox" onclick="enabled_web_details()" id="box" /> <strong>Authenticated scan </strong>
					<div class='hide top-buffer' id='web_details'>
						<div class="form-group">
                                                        <div class='col-md-6'>
								<%=f.label :web_login_url,"Login URL #{field_info('Ex: https://example.com/login')}".html_safe,class: 'label-class' %>
                                                                <%=f.text_field :web_login_url,class: "form-control",placeholder: 'Login URL',disabled: "disabled"%>
                                                        </div>
                                                </div>
						<div class="form-group">
							<div class='col-md-3'>
								<%=f.label :username_param,"User ID parameter name #{field_info('This will be html text field name')}".html_safe,class: 'label-class' %>
								<%=f.text_field :username_param,class: "form-control",placeholder: 'ex: username',disabled: "disabled"%>
							</div>
                                                        <div class='col-md-3'>
                                                                <%=f.label :username_param_val,"User ID parameter value",class: 'label-class' %>
                                                                <%=f.text_field :username_param_val,class: "form-control",placeholder: 'ex: test@test.com',disabled: "disabled"%>
                                                        </div>
                                                </div>
						<div class="form-group">
							<div class='col-md-3'>
								<%=f.label :password_param,"Password parameter name #{field_info('This will be html password field name')}".html_safe,class: 'label-class' %>
								<%=f.text_field :password_param,class: "form-control",placeholder: 'password',disabled: "disabled"%>
							</div>
                                                        <div class='col-md-3'>
                                                                <%=f.label :password_param_val,"Password parameter value",class: 'label-class' %>
                                                                <%=f.password_field :password_param_val,class: "form-control",placeholder: 'ex: ThisIsMyPassword',disabled: "disabled"%>
                                                        </div>
                                                </div>
					</div>
				<%end%>
				<div class="form-group ">
					<div class='col-md-6 top-buffer'>
						<%if params[:scan_type] != AppConstants::ScanTypes::MOBILE%>
							<%= f.submit "Add Scan Target", :class=>"btn btn-danger"%>
						<%end%>
						<%= f.submit "Scan Now", :class=>"btn btn-danger"%>
					</div>
				</div>
			<%end%>
		</div>
</div>
<script>
function enabled_web_details()
{
	$("#web_details").toggleClass("hide");
	$("#scaner_web_login_url,#scaner_username_param,#scaner_username_param_val,#scaner_password_param,#scaner_password_param_val").prop("disabled", false);

}
</script>
