<div class="panel-group result-group" id="accordion">
	<div class='row top-buffer'>
		<div class='col-md-3'></div>
		<div class='col-md-5'>
			<div class="panel panel-default">
				<div class="panel-heading scan-results">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#<%=locals[:records].first.description%>">
						<div class='col-md-1'>
							<span class="badge <%=locals[:severity]%>-line"><%=locals[:records].count%></span>
						</div>
						<div class='col-md-4'>
							<%=locals[:records].first.description%>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class='col-md-4'></div>
             
	</div>

	<div class='row top-buffer'>
		<div class='panel-collapse collapse' id= "<%=locals[:records].first.description%>">
			<div class='col-md-3'></div>
			<div class='col-md-6'>
				<div class="panel panel-success target-stats">
					<div class="panel-heading"><h5><b><%=locals[:records].first.description%></b></h5></div>
					<div class="panel-body">
						<%records_count = locals[:records].count %>
						<%iteration_count = 0 %>
						<%locals[:records].each do |each_finding| %>
							<%iteration_count = iteration_count + 1 %>
							<div class='row'>
								<table class='table borderless table-condensed' id="table_<%=locals[:records].first.description%>">
									<tr>                                                                                                            
										<td style="width:20%;"><b>Application:</b> </td>
										<td><%=each_finding.scaners.first.project_title.present? ? each_finding.scaners.first.project_title : each_finding.scaners.first.repo.name%></td>
									</tr>
									<tr>
										<td><strong>Scanner:</strong></td>
										<td><%=each_finding.scanner%></td>
									</tr>
									<tr>
										<td><b>Code:</b> </td>
										<td><%= each_finding.code%></td>
									</tr>
									<tr>
										<td><b>Remediation:</b></td>
										<td><%=each_finding.solution%></td>
									</tr>
								</table>
							</div>
							<div class='row right-buffer'>
								<div class='col-md-9'></div>
								<div class='col-md-3'>
									<%=link_to 'View More',details_findings_path(finding_id: each_finding.id,scan_id: each_finding.scaners.first.id),target: '_balnk'%>
								</div>
							</div>
							<%unless records_count - iteration_count == 0 %>
								<hr class='left-navbar-divider'>
							<%end%>
						<%end%>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function(){$('[data-toggle="collapse"]').addClass("collapsed");
	});
</script>
