<div id="filterrific_results">

	<div>
		<%= page_entries_info findings%>
	</div>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Sl No</th> 
				<th>Vulnerability Type</th>
				<th>Scanner</th>
				<th>View Finding</th>
			</tr>
		</thead>
		<tbody>
			<%count=0%>
			<%findings.each do |find|%>
				<tr>
					<td><%=count=count+1%></td>
					<td><%=find.description%></td>
					<td><%=find.scanner%></td>
					<td><%=link_to('View Finding',details_findings_path(finding_id: find.id,scan_id: find.scaners.first.id))%></td>
				</tr>
			<%end%>

		</tbody>

	</table>
</div>
<%= will_paginate fidnings %>
