<div class="container">
	<ul class="breadcrumb">
		<li class="breadcrumb-item active">Add Scan Target
	</ul>
	<div class="page-header">
		<h2> Add Scan Target </h2>
	</div>
	<div class="jumbotron jumbo-background" style="">   
		<div class="row">
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bhoechie-tab-menu top-buffer" >
				<div class="list-group">
					<%if current_user.is_admin? || current_user.is_security_member?%>
					<a href="#" class="list-group-item active text-center">
						<h4 class="fa fa-sitemap"></h4><br/>Corporate
					</a>
				<%elsif current_user.is_team_lead?%>
					<a href="#" class="list-group-item active text-center">
						<h4 class="fa fa-users"></h4><br/>Team
					</a>
					<a href="#" class="list-group-item text-center">
						<h4 class="fa fa-user"></h4><br/>Personal
					</a>
				<%end%>
				<%if !current_user.is_team_lead? && !current_user.is_admin?%>
					<a href="#" class="list-group-item  <%=is_personal_scan_active?%> text-center">
						<h4 class="fa fa-user"></h4><br/>Personal
					</a>
				<%end%>
				</div>
			</div>
			<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab top-buffer">
				<!-- Corporate section -->
				<%if current_user.is_admin? || current_user.is_security_member?%>
					<div class="bhoechie-tab-content active">
						<center>
							<%= render(partial: 'target',formats: [:html],locals: {owner_type: AppConstants::OwnerTypes::CORPORATE}) %>
						</center>
					</div>
				<%elsif current_user.is_team_lead?%>
					<!-- team section -->
					<div class="bhoechie-tab-content active">
						<center>
							<%= render(partial: 'target',formats: [:html],locals: {owner_type: AppConstants::OwnerTypes::TEAM}) %>
						</center>
					</div>
					<!-- personal section -->
					<div class="bhoechie-tab-content">
						<center>
							<%= render(partial: 'target',formats: [:html],locals: {owner_type: AppConstants::OwnerTypes::PERSONAL}) %>
						</center>
					</div>
				<%end%>
				<%if !current_user.is_team_lead? && !current_user.is_admin?%>
					<div class="bhoechie-tab-content <%=is_personal_scan_active?%>">
						<center>
							<%= render(partial: 'target',formats: [:html],locals: {owner_type: AppConstants::OwnerTypes::PERSONAL}) %>
						</center>
					</div>
				<%end%>
			</div>
		</div>
	</div>
</div>
<script>
$(document).ready(function() {
	$("div.bhoechie-tab-menu>div.list-group>a").click(function(e) {
		e.preventDefault();
		$(this).siblings('a.active').removeClass("active");
		$(this).addClass("active");
		var index = $(this).index();
		$("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
		$("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
	});
});
</script>
