<div class="ts-main-content">
	<%=render "layouts/scaner_list"%>
	<div class="content-wrapper right-buffer">
		<div class="continer">
			<div id="message"></div>
		</div>
		<div class="page-header">
			<h2>Dynamic Scans</h2>
		</div>          
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Project Name</th>
					<th>Target</th>
					<th>Status</th>
					<th>Scan Now</th>
					<th>Results</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>         
				<%@scans.each do |scan| %>
					<%findings = scan.findings.count%>
					<tr id='<%=scan.id%>'>
						<td><%=link_to(scan.project_title,list_scan_results_scaners_path(scan_id: scan.id))%>
						<td><%=scan.target%></td>
						<td><%=scan.status_reason.present? ? scan.status_reason : scan.status%></td>
						<%if scan.status == 'Scanning'%>
							<td><%=link_to "Scan Now",run_scaners_path(scan_id: scan.id),method: :get, remote: true,class: 'label-class not-active','disabled' => 'disabled'%></td>
						<%else%>
							<td><%=link_to scan.is_scanned ? "Re-Scan" : "Scan Now",run_scaners_path(scan_id: scan.id),method: :get, remote: true,class: 'label-class',id: scan.id%></td>
						<%end%>
						<%if scan.status == 'Pending' || scan.status == 'Enqueued'%>
							<td>Not yet Scaned</td>
						<%elsif findings > 0 && scan.status == 'done'%>
							<td><%= link_to "Scan Results",list_dynamic_results_findings_path(scan_id: scan.id,scan_type: "Dynamic") %></td>
						<%elsif scan.status == 'Scanning'%>
							<td>
								<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100"  aria-valuemin="0" aria-valuemax="100" style="width:100%">
									Scanning
								</div>
							</td>
						<%elsif scan.status == 'failed'  && findings == 0%>
							<td>No Results</td>
						<%elsif scan.status == 'done' && findings == 0%>
							<td>No Findings</td>
						<%elsif scan.status == 'failed' && findings > 0 %>
							<td><%= link_to "Scan Results",list_dynamic_results_findings_path(scan_id: scan.id,scan_type: "Dynamic") %></td>
						<%end%>
						<td><%=link_to '<i class="glyphicon glyphicon-remove-circle text-danger"> </i>'.html_safe,scaner_path(scan),title: 'Delete',method: :delete, remote: true %> </td>
					</tr>
				<%end%> 
			</tbody>
		</table>
		<div class='text-center'> <%= will_paginate @scans ,renderer: BootstrapPagination::Rails%></div>
	</div>
</div>
