<div class='container'>
	<ul class="breadcrumb">
		<li class="breadcrumb-item"><%=link_to "Scan Targets",scaners_path(owner_type: session[:owner_type],scan_type: session[:scan_type],is_scheduled: session[:is_scheduled])%></li>
		<li class="breadcrumb-item active">Scans Difference</li>
	</ul>   
	<!-- item -->
	<div class="panel panel-default">
		<div class="panel-heading">Scans Difference Summary</div>
		<table class='table'>
			<thead>	
				<th></th>
				<th col-span='2'>Scan 1</th>
				<th col-span='2'>Scan 2</th>
			</thead>
			<tbody>
				<tr>
					<td>Repo Name</td>
					<td><%=@first_scan.project_title.present? ? @first_scan.project_title : @first_scan.repo.name%></td>
					<td><%=@second_scan.project_title.present? ? @second_scan.project_title : @second_scan.repo.name%></td>
				</tr>
				<tr>
					<td>Branch</td>
					<td><%=@first_scan.branch_name.present? ? @first_scan.branch_name : "master"%></td>
					<td><%=@second_scan.branch_name.present? ? @second_scan.branch_name : "master"%></td>
				</tr>
				<tr>
					<td>Scan start time</td>
					<td><%=@first_scan.start_time%></td>
					<td><%=@second_scan.start_time%></td>
				</tr>
				<tr>
					<td>Scan end time</td>
					<td><%=@first_scan.end_time%></td>
					<td><%=@second_scan.end_time%></td>
				</tr>
				<tr>
					<td>No of files processed</td>
					<td><%=@first_scan.no_of_processed_files%></td>
					<td><%=@second_scan.no_of_processed_files%></td>
				</tr>
				<tr>
					<td>Scanned Languages</td>
					<td><%=@first_scan.found_langs%></td>
					<td><%=@second_scan.found_langs%></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">Scans severities summary</div>
		<div class="chart chart-doughnut">
			<div id="container"></div>
		</div>	
	</div>

</div>
</section>
</div>
<script>
Highcharts.chart('container', {
	colors: ['#90ed7d', '#f7a35c', '#8085e9', 
	'#f15c80', '#e4d354', '#2b908f', '#f45b5b', '#91e8e1'],

	chart: {
		type: 'column'
	},

	title: {
		text: 'Total findings, grouped by severity'
	},

	xAxis: {
		categories: ['Critical', 'High', 'Medium', 'Low', 'Info'],
		title: 'Severity'
	},

	yAxis: {
		allowDecimals: false,
		min: 0,
		title: {
			text: 'Findings'
		}
	},

	tooltip: {
		formatter: function () {
			return '<b>' + this.x + '</b><br/>' +
				this.series.name + ': ' + this.y + '<br/>' +
				'Total: ' + this.point.stackTotal;
		}
	},

	plotOptions: {
		column: {
			stacking: 'normal'
		}
	},

	series: [{
		name: 'Scan 1',
		data: <%=@first_array%>,
	}, {
		name: 'Scan 2',
		data: <%=@second_array%>,
		stack: 'female'
	}
	],
	credits: {
		enabled: false
	}
});
</script>
