<div class="ts-main-content">
	<%=render "layouts/scan_results"%>
	<div class="content-wrapper">
		<div class="container">
			<div class='row'>
				<%=render "breadcrumb"%>
			</div>
			<div class="row top-buffer">
				<div class="panel panel-default  table-hover">
					<div class="panel-heading"><h5><%=params[:severity]%> Vulnerabilities</h5></div>
					<div class="panel-body">
						<table class="table table-striped" id="severity_findings" data-source="<%= severity_results_scaners_path(scan_id: @scan.id,severity: params[:severity],format: "json") %>">
							<thead>                 
								<tr>           
									<th><input name="select_all" value="1" id="check_all" type="checkbox" /></th>
									<th>Vulnerability Type</th>
									<%if current_user.is_admin?%>
										<th>Scanner</th>             
									<%end%>  
									<th>Issue In</th>
									<th>View Finding</th>           
								</tr>                                   
							</thead>                                                
							<tbody>                                                 

							</tbody>

						</table>
						<%= render 'dislplay_buttons' %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
$(document).ready(function (){  
	var rows_selected = [];
	'<%if current_user.is_admin?%>'
			var target = [0,3,4];
	'<%else%>'
			var target = [0,2,3];
	'<%end%>'
	var table = $('#severity_findings').dataTable({               
		bServerSide: true,      
		stateSave: true,
		order: [],      
		columnDefs: [ {
			targets  : target,
			orderable: false,
		}],  
		sAjaxSource: $('#severity_findings').data('source'),
		rowCallback: function(row, data, dataIndex){
			// Get row ID
			var rowId = data[0];

			// If row ID is in the list of selected row IDs
			if($.inArray(rowId, rows_selected) !== -1){
				$(row).find('input[type="checkbox"]').prop('checked', true);
				$(row).addClass('selected');
			}
		}
	});
	var table = $('#severity_findings').DataTable() ;
	$('#severity_findings tbody').on('click', 'input[type="checkbox"]', function(e){
		$('#false_btn,#exploitable_btn').prop("disabled",false);
		var $row = $(this).closest('tr');
		var $row = $(this).closest('tr');

		// Get row data
		var data = table.row($row).data();

		// Get row ID
		var rowId = data[0];

		// Determine whether row ID is in the list of selected row IDs 
		var index = $.inArray(rowId, rows_selected);

		// If checkbox is checked and row ID is not in list of selected row IDs
		if(this.checked && index === -1){
			rows_selected.push(this.id);

			// Otherwise, if checkbox is not checked and row ID is in list of selected row IDs
		} else if (!this.checked && index !== -1){
			rows_selected.splice(index, 1);
		}

		if(this.checked){
			$row.addClass('selected');
		} else {
			$row.removeClass('selected');
		}

		// Update state of "Select all" control
		updateDataTableSelectAllCtrl(table);
		e.stopPropagation();
	});

	$('#severity_findings').on('click', 'tbody td, thead th:first-child', function(e){
		$(this).parent().find('input[type="checkbox"]').trigger('click');
	});
	$('thead input[name="select_all"]', table.table().container()).on('click', function(e){
		if(this.checked){
			$('#severity_findings tbody input[type="checkbox"]:not(:checked)').trigger('click');
		} else 
		{
			rows_selected = [];
			$('.mark-buttons').prop('disabled',true);	
			$('#severity_findings tbody input[type="checkbox"]:checked').trigger('click');
		}

		// Prevent click event from propagating to parent
		e.stopPropagation();
	});
	$('#severity_results').on('submit', function(e){
		$("#marked_table_id").val("severity_findings");
		add_hidden_values(rows_selected);
	});

});
</script>

