<div class="container">
	<ul class="breadcrumb">
		<li class="breadcrumb-item active">Upload Scan </li>
	</ul>
	<div class="page-header">
		<h2> Upload Scan </h2>
	</div>
	<div class="jumbotron jumbo-background">
		<div class="panel-heading">
			<ul class="nav nav-tabs">
				<!--<li class="active"><a data-toggle="tab" href="#my_project">My Scan</a></li>-->
				<%if current_user.is_team_lead?%>
					<li class="active"><a data-toggle="tab" href="#team_project">Team Scan</a></li>
				<%end%>
				<%if current_user.is_admin? || current_user.is_security_member?%>
					<li class="active"><a data-toggle="tab" href="#corporate_project">Corporate Scan</a></li>
				<%end%>
			</ul>
		</div>
		<div class="tab-content top-buffer">
			<%unless current_user.is_admin? || current_user.is_security_member?%>
				<div id="team_project" class="tab-pane fade in active">
					<%=form_for(Scaner.new,:url=>save_team_upload_scans_path,:method=>"post",:html=>{class: 'form-horizontal',role: "form"}) do |f| %>
						<div class="form-group ">
							<div class='col-md-4'>
								<%= f.label :project,class: 'label-class' %>
								<%= f.select :repo_id, @user_repos.map { |repo| [repo.name,repo.id]},{prompt: 'select project'},{:class=> "selectpicker dropup show-tick show-menu-arrow",'data-live-search'=>"true",'data-show-subtext'=> "true",'data-width'=>"100%",'data-size'=>"5",:onChange=>'load_branches();'}%>
							</div>
						</div>
						<div class="form-group ">
							<div class='col-md-4'>
								<%= f.label :scan_type,class: 'label-class' %>
								<%= f.select :scan_type, options_for_select(AppConstants::AppTypes::APP_TYPES_WITH_VALUES),{},{class: "form-control"}%>
							</div>
						</div>
						<div class="form-group ">
							<div class='col-md-4'>
								<%= f.label :tool,class: 'label-class' %>
								<%= f.select :source, options_for_select(AppConstants::TOOLS::EXTERNAL_TOOLS),{prompt: 'select tool'},{class: "form-control selectpicker dropup show-tick show-menu-arrow"}%>
							</div>
						</div>
						<div class="form-group" id="directory_field">
							<div class='col-md-6'>
								<!-- The fileinput-button span is used to style the file input field as button -->
								<%= f.label :upload_scan,class: 'label-class' %>
								<%= f.file_field :project_target,autofocus: true,required: 'required',class: "btn btn-success file-field" %>
							</div>
						</div>
						<div class="form-group ">
							<div class='col-md-4'>
								<%= f.submit "Upload Scan Results", :class=>"btn btn-danger"%>
							</div>
						</div>
					<%end%>
				</div>
			<%end%>
			<%if current_user.is_admin? || current_user.is_security_member?%>
				<div id="corporate_project" class="tab-pane fade in active">
					<%=form_for(:scaners,:url=>upload_scans_path,:method=>"post",:html=>{class: 'form-horizontal',id: 'upload_scan_form',role: "form"}) do |f| %>
						<div class="form-group">
							<div class='col-md-4'>
								<%= f.label :team,class: 'label-class' %>
								<%= f.select :team_id, Team.all.order(:name).collect { |t| [t.name,t.id]},{prompt: 'Select Team'},{class: 'form-control selectpicker show-tick dropup show-menu-arrow','data-actions-box': 'true','data-live-search': 'true' }%>
							</div>
						</div>
						<div class="form-group ">
							<div class='col-md-4'>
								<%= f.label :project,class: 'label-class' %>
								<%= f.select :repo_id, [[]],{},{class: 'form-control selectpicker show-tick dropup show-menu-arrow','data-actions-box': 'true','data-live-search': 'true'}%>
							</div>
						</div>
						<div class="form-group ">
							<div class='col-md-4'>
								<%= f.label :scan_type,class: 'label-class' %>
								<%= f.select :scan_type, options_for_select(AppConstants::AppTypes::APP_TYPES_WITH_VALUES),{prompt: 'Select Scan Type'},{:class=> "selectpicker dropup show-tick show-menu-arrow form-control",'data-live-search'=>"true"}%>
							</div>
						</div>
						<div class="form-group ">
							<div class='col-md-4'>
								<%= f.label :tool,class: 'label-class' %>
								<%= f.select :source, options_for_select(AppConstants::TOOLS::EXTERNAL_TOOLS),{prompt: 'Select Tool'},{class: "form-control selectpicker dropup show-tick show-menu-arrow"}%>
							</div>
						</div>
						<div class="form-group" id="directory_field">
							<div class='col-md-6'>
								<!-- The fileinput-button span is used to style the file input field as button -->
								<%= f.label :upload_scan,"Upload Scan <a href='#' data-toggle='popover' data-trigger='hover' data-content='File format should be in xml' > <i class='glyphicon glyphicon-info-sign text-info'></i></a>".html_safe,class: 'label-class' %>
								<%= f.file_field :project_target,autofocus: true,required: 'required',class: "btn btn-success file-field" %>
							</div>
						</div>
						<div class="form-group ">
							<div class='col-md-4'>
								<%= f.submit "Upload Scan Results", :class=>"btn btn-danger"%>
							</div>
						</div>
					<%end%>
				</div>
			<%end%>
		</div>
	</div>
</div>
<script>
$('#scaners_team_id').change( function() { load_projects() });
</script>
