<div class="wrapper ">

	<%= form_for(resource,as: resource_name, url: password_path(resource_name) ,:html=>{class: "login-form" ,role: "form",method: :put}) do |f| %>
		<div class="form-group " >
			<h2 class="label-class">Change your password</h2>
		</div>
		<%= devise_error_messages! %>
		<%= f.hidden_field :reset_password_token %>
		<div class="form-group " >
			<%= f.label :password, "New password", class: 'label-class'%><br />
			<% if @minimum_password_length %>
				<em>(<%= @minimum_password_length %> characters minimum)</em><br />
			<% end %>
			<%= f.password_field :password, autofocus: true, autocomplete: "off",class: "form-control" %>
		</div>
		<div class="form-group" >
			<%= f.label :password_confirmation, "Confirm new password" ,class: 'label-class'%><br />
			<%= f.password_field :password_confirmation, autocomplete: "off",class: "form-control " %>
		</div>
		<div class="form-group" >
			<%= f.submit "Change my password",class: 'btn btn-success'%>
		</div>
		<div class="form-group" >
			<span class='col-md-8'><%= link_to("Login", new_user_session_path, id:"forget-password", class:"forget-password") %></span>
			<span align='col-md-4'><%= link_to("Signup", new_user_registration_path, id:"forget-password", class:"forget-password") %></span>
		</div>
	<%end%>
</div>

