<%= form_for(@task) do |f| %>
	<% if @task.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

			<ul>
				<% @task.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="field form-group">
		<%= f.label :scan_type %>
		<%= f.select :scan_type_id, ScanType.all.collect{ |type| [type.name, type.id]},{},{class: "form-control",onchange: "enable_file_field();"}%>  
	</div>
	<div class="field form-group">
		<%= f.label :name %>
		<%= f.text_field :name,class: 'form-control' %>
	</div>
	<div class="field form-group">
		<%=f.label :group,"Supported Language" %>
		<%=f.select :group ,[["Ruby","Ruby"],["Java","Java"],["Javascript","Javascript"]],{prompt: 'Select Language'},{class: "form-control"}%>
	</div>
	<div class="field form-group">
		<label>
			Gem Name  <a href="#" data-toggle="popover" data-trigger="hover" font-size="8px;" data-content="Upgradation fails in case of incorrect gem name! .Add dependency gems with comma ',' separated">
				<i class='glyphicon glyphicon-info-sign text-info'></i>
			</a>  
		</label>
		<%= f.text_field :gem_name,class: 'form-control' %>
	</div>
	<div class="actions form-group">
		<%= f.submit "Update Tool",class: 'btn btn-primary'%>
	</div>
<% end %>
