<div class="ts-main-content">
	<%=render "layouts/user_settings"%>
	<div class="content-wrapper">
		<div class="container">    
			<div class="row">
				<ul class="breadcrumb">
					<li class="breadcrumb-item active"><%= link_to "User Settings",scan_types_path%></li>
					<li class="breadcrumb-item">Tools Configuration</li>
				</ul>
			</div>
			<div class='col-md-8'>
				<div class="panel-heading">
					<ul class="nav nav-tabs">
						<li class="active"><a data-toggle="tab" href="#secret_sesction">Hard Code Secret</a></li>
						<li><a data-toggle="tab" href="#checkmarx_section">Checkmarx</a></li>
					</ul>
				</div>
				<div class="tab-content top-buffer">
					<div id="secret_sesction" class="tab-pane fade in active">
						<%= form_for(:settings, url: update_configurations_tasks_path,:html=>{role: "form"}) do |form| %>
							<%= form.fields_for :pipeline do |f| %>    
								<div class="form-group">                                                                                                                                                                                            <%=f.label :commits_depth%>                                                                                                                                                                                 <%= f.number_field :commits_depth, autofocus: true,requred: true,class: "form-control",in: 1..50,value:  @commits_depth%>
							</div>                                                                                                                                                                                                      <div class="form-group " >
								<%=f.label :commit_start_date%>                                                                                                                                                                            <%= f.text_field :commit_start_date, autofocus: true,requred: true,class: "form-control",value: @commit_start_date%> 
							</div>
							<!--<div class="form-group " >
								<%#=f.label :commit_end_date%>
								<%#= f.text_field :commit_end_date, autofocus: true,requred: true,class: "form-control",value: @commits_date%>                              
							</div>--> 
							<div class="form-group input_fields_wrap" >
								<%=f.label :regx,"<button class='btn btn-primary regx'> <i class='glyphicon glyphicon-plus-sign'></i> Regx</button>".html_safe%>
								<%truffle_count = 1%>
								<%if @regx_file.present?%>
									<%File.open(@regx_file,"r").each_line do |line|%>
										<div class="input-group control-group after-add-more top-buffer">
											<%buffer_class = truffle_count == 1 ? "" : "top-buffer"%>
											<%=f.text_area "truffle_regx_#{truffle_count}".to_sym, autofocus: true,requred: true,class: "form-control #{buffer_class}",value: line,style:"width: 737px; height: 63px;" ,readonly: true%>
											<div class="input-group-btn"> 
												<a class="btn remove_field" title="Remove field"> 
													<i class="glyphicon glyphicon-remove-circle text-danger" title='Remove'></i>
												</a>
												<a class="btn edit_field" title="Remove field" value="truffle_regx_<%=truffle_count%>">
													<i class="glyphicon glyphicon-edit text-primary" title='Edit'></i>
												</a>
											</div>
											<%truffle_count += 1%>
										</div>
									<%end%>
								<%end%>
							</div>
							<div class="form-group" >
								<%= f.submit "Save",class: 'btn btn-danger'%>             
								&nbsp;&nbsp; <a href="#" data-toggle="popover" data-trigger="hover" font-size="8px;" data-content="if no of commits are less than configured date, system will take confgured date">
									<i class='glyphicon glyphicon-info-sign text-info'></i>
								</a>
							</div>
						<%end%>
					<%end%>
					</div>

					<div id="checkmarx_section" class="tab-pane fade">
						<%= form_for(:settings, url: update_configurations_tasks_path ,:html=>{role: "form"}) do |form| %>
							<%= form.fields_for :pipeline do |f| %> 
								<div class="form-group">
									<%=f.label :server%>
									<%= f.text_field :checkmarx_server, autofocus: true,requred: true,class: "form-control",value:  @check_marx_server%>
								</div>
								<div class="form-group " >
									<%=f.label :user_name%>
									<%= f.text_field :checkmarx_user, autofocus: true,requred: true,class: "form-control",value: @check_marx_user%>
								</div>                                          
								<div class="form-group " >
									<%=f.label :password%>
									<%= f.password_field :checkmarx_password, autofocus: true,requred: true, class: "form-control",value: @check_marx_password %>
								</div>                                                                 
								<div class="form-group " >
									<%=f.label :checkmarx_log_file%>
									<%= f.text_field :checkmarx_log, autofocus: true,requred: true, class: "form-control",value: @check_marx_log %>
								</div>
								<div class="form-group" >                                                           
									<%= f.submit "Save",class: 'btn btn-danger'%>                                        
								</div>   
							<%end%>
						<%end%>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<script>
$(document).ready(function(){
	$('#settings_pipeline_commit_start_date').datetimepicker({format: 'DD-MM-YYYY'});
	$('#settings_pipeline_commit_end_date').datetimepicker({format: 'DD-MM-YYYY'});
	var max_fields      = 5; 
	var wrapper         = $(".input_fields_wrap");
	var add_button      = $(".regx"); //Add button ID
	var x = $('textarea').length; //initlal text box count
	$(add_button).click(function(e){ //on add input button click
		e.preventDefault();
		if(x < max_fields){ //max input box allowed
			x++; //text box increment
			$(wrapper).append('<div class="input-group control-group after-add-more top-buffer" ><textarea  id="settings_pipeline_truffle_regx_'+x+'" style="width: 737px; height: 63px;" class="form-control" name="settings[pipeline][truffle_regx_'+x+']"/><div class="input-group-btn"> <a class="btn remove_field" title="Remove field"> <i class="glyphicon glyphicon-remove-circle text-danger"></i></a><a class="btn edit_field" title="Remove field"><i class="glyphicon glyphicon-edit text-primary"></i></a></div></div>'); //add input box
		}
	});

	$(wrapper).on("click",".remove_field",function(e){ //user click on remove text
		e.preventDefault(); 
		$(this).closest('.after-add-more').remove(); 
		x--;
		var no_of_regx = $('textarea').length;
		$("textarea").each(function(index){
			var teaxt_area_index = index + 1;
			$(this).attr("id","settings_pipeline_truffle_regx_"+teaxt_area_index);
			$(this).attr("name","settings[pipeline][truffle_regx_"+teaxt_area_index+"]")
		 })
	})
	$(wrapper).on("click",".edit_field",function(e){ //user click on remove text
		e.preventDefault();
		$("#settings_pipeline_" + $(this).attr("value")).attr("readonly",false);
	})
});
</script>
