<div class="ts-main-content">
	<%=render "layouts/user_settings"%>
	<div class="content-wrapper">
		<div class='container'>
			<ul class="breadcrumb">
				<li class="breadcrumb-item active"><%= link_to "User Settings",scan_types_path%></li>
				<li class="breadcrumb-item active"><%= link_to "Enable/ Disable Tools",scanner_settings_path%></li>
				<li class="breadcrumb-item active"><%= link_to "Tools list",tasks_path%></li>
				<li class="breadcrumb-item">Editing Tool</li>
			</ul>
			<div class='row'>
				<div class='col-md-8'>
					<div class="panel panel-default">
						<div class="panel-heading"><h4>Editing Tool</h4></div>
						<div class="panel-body">
							<%= render 'form' %>
							<%= link_to 'Back', tasks_path %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
