<div class="ts-main-content">
	<%=render "layouts/user_settings"%>
	<div class="content-wrapper" id="upgrade_section">
		<div class='container'>
			<div class="row">
				<ul class="breadcrumb">                                                                                                                 
					<li class="breadcrumb-item active"><%= link_to "User Settings",scan_types_path%></li>
					<li class="breadcrumb-item">Upgrade Tools</li>
				</ul>   
			</div>  
			<div class='row'>
				<div class="panel panel-default">
					<div class="panel-heading"><h4>Listing Tasks</h4></div>
					<div class="panel-body">

						<table class='table'>
							<thead>
								<tr>
									<th>Name</th>
									<th>Supported Language</th>
									<th>Upgrade</th>
									<th>Steps to upgrade</th>
								</tr>
							</thead>

							<tbody>
								<% @tasks.each do |task| %>
									<%if task.scan_type_id.present?%>
										<tr>
											<td><%= task.name %></td>
											<td><%= task.group %></td>
											<td><%=link_to "Upgrade",update_tool_tasks_path(taks_id: task.id),class: 'btn btn-danger',title:'Upgrade',method: :post,remote: true,onclick: 'add_spinner()' if task.is_direct_upgrade%></td>

											<td>
												<%if task.is_custom == false && task.is_direct_upgrade == false%>
													<button type="button" class="btn btn-info" data-toggle="modal" data-target="#<%=task.name%>">Steps To Upgrade</button>
												<%end%>
											</td>
										</tr>
									<%end%>
								<% end %>
							</tbody>
						</table>
						<%= link_to 'New Task', new_task_path %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--Xanitizer Modal -->
<div class="modal fade" id="Xanitizer" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Xanitizer upgradation steps</h4>
			</div>
			<div class="modal-body">
				<p>Step 1: Go to <a href="https://www.rigs-it.net/opendownloads/mrkoasewk-Xanitizer-3.1/downloadLinux.html" target="_blank">Xanitizer download link</a></p>
				<p>Step 2: Click on download link</p>
				<p>Step 3: Delete existing Xanitizer version from directory jackhammer/web/app/tools/</p>
				<p>Step 4: please untar downloaded file and copy to jackhammer/web/app/tools/</p>
				<p class='text-center'> ----------------Upgradation is done !-------------</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!--findgsecbugs Modal -->
<div class="modal fade" id="FindSecurityBugs" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Findsecbugs upgradation steps</h4>
			</div>
			<div class="modal-body">
				<p>Step 1: Go to <a href="https://github.com/find-sec-bugs/find-sec-bugs/releases" target="_blank">Findsecbugs download link</a></p>
				<p>Step 2: Find latest findsecbugs-cli zip file  and download it</p>
				<p>Step 3: Delete existing findsecbugs-cli version from directory jackhammer/web/app/tools/</p>
				<p>Step 4: please untar downloaded file and copy to jackhammer/web/app/tools/</p>
				<p class='text-center'> ----------------Upgradation is done !-------------</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="PMD" role="dialog">
        <div class="modal-dialog">
                <div class="modal-content">
                        <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">PMD upgradation steps</h4>
                        </div>
                        <div class="modal-body">
                                <p>Step 1: Go to <a href="https://pmd.github.io/" target="_blank">PMD download link</a></p>
                                <p>Step 2: Click on latest vesion and click on downloads</p>
                                <p>Step 3: Delete existing findsecbugs-cli version from directory jackhammer/web/app/tools/</p>
                                <p>Step 4: please untar downloaded file and copy to jackhammer/web/app/tools/</p>
                                <p class='text-center'> ----------------Upgradation is done !-------------</p>
                        </div>
                        <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                </div>
        </div>
</div>

<script>
function add_spinner()
{
	$("body").spin({
		lines: 12, // The number of lines to draw
		length: 7, // The length of each line
		width: 9, // The line thickness
		radius: 30, // The radius of the inner circle
		color: '#000', // #rgb or #rrggbb
		speed: 1, // Rounds per second
		trail: 60, // Afterglow percentage
		shadow: false // Whether to render a shadow
	});
}
</script>
