<div class="ts-main-content">
	<%=render "layouts/user_roles"%>
	<div class="content-wrapper">
		<div class="container-fluid">
			<div class='row' id="module_message">
			</div>
			<div class="panel panel-success target-stats">
				<div class="panel-heading"><h5><b>Modules</b></h5></div>
				<div class="panel-body">
					<div class='row'>
						<div class='col-md-12'>
							<%=link_to "<i class='glyphicon glyphicon-plus-sign'></i>  Add".html_safe,new_functionality_path,method: "GET",class: 'btn btn-success'%>
						</div>
					</div>  
					<div class='row top-buffer'>
						<div class='col-md-12'>
							<table class='table table-hover'>
								<thead>
									<tr>
										<th>Name</th>
										<th>Created </th>
										<th>Updated</th>
										<th>Status</th>
										<th>View</th>
										<th>Edit</th>
										<th>Delete</th>
									</tr>
								</thead>

								<tbody>
									<% @functionalities.each do |functionality| %>
										<tr>
											<td><%= functionality.name %></td>
											<td><%= functionality.created_at.to_formatted_s(:short)%></td>
											<td><%= functionality.updated_at.to_formatted_s(:short) %></td>
											<td><%= functionality.is_active? ? "Active" : "InActive" %></td>
											<td><%= link_to "<i class='fa fa-eye' aria-hidden='true'></i>".html_safe, functionality, method: :GET%></td>
											<td><%= link_to "<i class='fa fa-pencil-square-o' aria-hidden='true'></i>".html_safe,edit_functionality_path(functionality)%></td>
											<td><%= link_to "<i class='fa fa-times text-danger' aria-hidden='true'></i>".html_safe, functionality, method: :delete, data: { confirm: 'Are you sure?' } %></td>
										</tr>
									<% end %>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="add_module" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Add Role</h4>
			</div>
			<div class="modal-body">
				<%=form_for :functionality,url: functionalities_path,method: 'POST',remote: true do |f|%>
					<div class='row'>
						<div class='form-group top-buffer left-buffer'>
							<div class='col-md-6'>
								<%=f.label :name,class: 'label-class'%>
								<%= f.text_field :name, autofocus: true,required: 'required', class: "form-control"%>
							</div>

						</div>
					</div>
					<div class='row'>
						<div class='form-group top-buffer left-buffer'>
							<div class='col-md-6'>
								<%=f.label :operations,class: 'label-class'%>
								<%= f.select :permission_id, Permission.all.order(:name).collect { |t| [t.name,t.id]},{prompt: 'Select Operation'},{:class=> "selectpicker dropup show-tick show-menu-arrow",'data-live-search'=>"true",'data-show-subtext'=> "true",'data-width'=>"100%",'data-size'=>"5",'multiple'=>'multiple'}%>
							</div>

						</div>
					</div>
					<div class='row'>
						<div class='form-group top-buffer left-buffer'>
							<div class='col-md-6'>
								<%= f.submit "Save" ,class: 'btn btn-success'%>
							</div>
						</div>
					</div>
				<%end%>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>

