<%= nested_form_for(@role,:html=>{role: "form"}) do |f| %>
	<% if @role.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@role.errors.count, "error") %> prohibited this functionality from being saved:</h2>

			<ul>    
				<% @role.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>       
			</ul>                           
		</div>                                  
	<% end %>                               

	<div class="form-group row">
		<div class='col-md-8'>
			<%= f.label :name,class: 'label-class' %><br>
			<%= f.text_field :name,class: 'form-control',required: 'required',autofocus: true %>
		</div>
	</div>
	<div class="form-group row">
		<div class='col-md-8'>
			<%= f.label :module,class: 'label-class' %>
			<%= f.select :functionality_ids, Functionality.all.order(:name).collect { |t| [t.name,t.id]},{},{:class=> "selectpicker dropup show-tick show-menu-arrow form-control",'data-live-search'=>"true",'data-show-subtext'=> "true",'data-size'=>"5",'multiple'=>'multiple'}%>
		</div>
	</div>
	<%= f.fields_for :permissions do |pf| %>
		<div class='row hide' id='scan'>
			<div class='col-md-8'>
				<div class="panel panel-default">
					<div class="panel-heading"><h5>Scan Operations</h5></div>
					<div class='panel-body'>
						<div class='row'>
							<div class='col-md-12'>
								<div class='col-md-6'>
									<div class="checkbox checkbox-slider--b-flat">
										<label>
											<%=pf.check_box :scan_read,checked: @role.function_operations.present? ? @role.function_operations.include?("scan_read") : false%><span class='label-class'>View Scan Results</span>        
										</label>
									</div>
								</div>
								<div class='col-md-6'>
									<div class="checkbox checkbox-slider--b-flat">
										<label>
											<%=pf.check_box :scan_create,checked: @role.function_operations.present? ? @role.function_operations.include?("scan_create") : false%><span class='label-class'>Add Target</span>        
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class='row'>
							<div class='col-md-12'>
								<div class='col-md-6'>
									<div class="checkbox checkbox-slider--b-flat">
										<label>         
											<%=pf.check_box :scan_delete,checked: @role.function_operations.present? ? @role.function_operations.include?("scan_delete") : false%><span class='label-class'>Delete Scan</span>
										</label>                                                                                                
									</div>                                                                                                                                          
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class='row hide' id='upload_files'>
			<div class='col-md-8'>
				<div class="panel panel-default scan-section">
					<div class="panel-heading"><h5>Finding File Uploads Permissions</h5></div>
					<div class='panel-body'>
						<div class='row'>
							<div class='col-md-12'>
								<div class='col-md-6'>
									<div class="checkbox checkbox-slider--b-flat">
										<label> 
											<%=pf.check_box :upload_read,checked: @role.function_operations.present? ? @role.function_operations.include?("upload_read") : false%><span class='label-class'>View Uploads</span>        
										</label>
									</div>  
								</div>  
								<div class='col-md-6'>
									<div class="checkbox checkbox-slider--b-flat">
										<label> 
											<%=pf.check_box :upload_delete,checked: @role.function_operations.present? ? @role.function_operations.include?("upload_delete") : false%><span class='label-class'>Delete Uploads</span>        
										</label>
									</div>  
								</div>  
							</div>  
						</div> 
					</div>
				</div>
			</div>
		</div>

	<%end%>
	<div class="form-group row">
		<div class='col-md-6'> 
			<%= f.submit "Save" ,class: 'btn btn-success'%>
		</div>
	</div>
<% end %>
<script>
	$(document).ready(function(){
		<%if @role.function_operations.present? && @role.function_operations.include?("scan")%>
			$("#scan").removeClass("hide");
		<%end%>
		<%if @role.function_operations.present? && @role.function_operations.include?("upload")%>
			$("#upload_files").removeClass("hide");
		<%end%>


	});
	$("#role_functionality_ids").change(function(){
		var option_all = $("#role_functionality_ids option:selected").map(function () {
			if($(this).text() == 'Scan' || $(this).text() == 'Upload Files')
			{
				return $(this).text();
			}
		}).get().join();

		if(option_all.indexOf("Scan") != -1)
		{
			$("#scan").removeClass("hide");

		}
		else
		{
			$("#scan").addClass("hide");
		}

		if(option_all.indexOf("Upload Files") != -1)
		{
			$("#upload_files").removeClass("hide");
		} 	
		else
		{
			$("#upload_files").addClass("hide");
		}
	})
</script>
