<div class="wrapper ">

	<%= form_for(resource,as: resource_name, url: session_path(resource_name) ,:html=>{class: "login-form" ,role: "form"}) do |f| %>
		<div class="form-group " >
			<h2><label class="label-class">Login</label><a><%#=link_to 'Git hub login',user_github_omniauth_authorize_path%></a> | <label class="label-class"><%=link_to 'Register' ,new_user_registration_path%></label></h2>
		</div>
		<div class="form-group " >
			<%= f.label :email, class: "label-class"%>
			<%= f.email_field :email, autofocus: true,required: true, class: "form-control"%>
		</div>
		<div class="form-group" >
			<%= f.label :password,class: "label-class" %>
			<%= f.password_field :password, autocomplete: "off",required: true, class: "form-control "%>
		</div>
		<div class="submit " >
			<%= f.submit "LOGIN"%>
		</div>
		<div class="form-group" >
			<span class="forget-pass">
				<%= link_to("Forgot Password?", new_user_password_path, id:"forget-password", class:"forget-password") %>
			</span>
		</div>
	<%end%>
</div>

