<div class="ts-main-content">
	<%=render "layouts/user_roles"%>
	<div class="content-wrapper">
		<div class="container-fluid animated fadeInRight">
			<div class='row' id="permission_message">
			</div>
			<div class="panel panel-success target-stats">
				<div class="panel-heading"><h5><b>Operations</b></h5></div>
				<div class="panel-body">
					<div class='row'>
						<div class='col-md-12'>
							<button type="button" class="btn btn-success " data-toggle="modal" data-target="#add_permission"><i class='glyphicon glyphicon-plus-sign'></i> Add Operation</button>
						</div>
					</div>
					<div class='row top-buffer'>
						<div class='col-md-12'>
							<table class="table table-hover" id="permission_table">
								<thead class="thead-inverse">
									<tr>
										<th>Sl No</th>
										<th>Operation</th>
										<th>Status</th>
										<th>Created</th>
										<th>Updated</th>
										<th>Delete</th>
									</tr>
								</thead>

								<tbody>
									<%count = 0%>
									<%@permissions.each do |permission|%>
										<tr>
											<td><%=count+=1%></td>
											<td><%=best_in_place permission, :name,:as => :input, :ok_button => "&#x2714;".html_safe,:ok_button_class =>"btn-success",:cancel_button => '&#x2718;'.html_safe,:cancel_button_class=>"btn-danger"%></td>
											<td><%=permission.status%></td>
											<td><%=permission.created_at.to_formatted_s(:short)%></td>
											<td><%=permission.updated_at.to_formatted_s(:short)%></td>
											<td><%=link_to("<i class='fa fa-times text-danger' aria-hidden='true'></i>".html_safe,permission,method: :DELETE,data: { confirm: 'Are you sure?' } )%></td>
										</tr>
									<%end%>

								</tbody>
							</table>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

</div>

<!-- Modal -->
<div class="modal fade" id="add_permission" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Add Role</h4>
			</div>
			<div class="modal-body">
				<%=form_for Permission.new,url: permissions_path,method: 'POST',remote: true do |f|%>
					<div class='row'>
						<div class='form-group top-buffer'>
							<div class='col-md-6'>
								<%=f.label :name,class: 'label-class'%>
								<%= f.text_field :name, autofocus: true,required: 'required', class: "form-control"%>
							</div>
						</div>
					</div>
					<div class='row'>
						<div class='form-group top-buffer'>
							<div class='col-md-6'>
								<%= f.submit "Save" ,class: 'btn btn-success'%>
							</div>
						</div>
					</div>
				<%end%>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>
<script>
	$(document).ready(function() {
		/* Activating Best In Place */
		jQuery(".best_in_place").best_in_place();
	});
</script>
