<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @permission.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @permission.status %>
</p>

<%= link_to 'Edit', edit_permission_path(@permission) %> |
<%= link_to 'Back', permissions_path %>
